.advantages {
    &-list {
        display: flex;
        justify-content: space-between;
        @include r(1599) {
            flex-wrap: wrap;
        }
        @include r(1280) {
            padding-left: 30px;
        }
        @include r(1023) {
            justify-content: center;
            padding-right: 40px;
        }
        @include r(480) {
            padding-right: 0;
            padding-left: 0;
        }
    }
    &__item {
        white-space: nowrap;
        margin-right: -50px;
        @include r(1599) {
            width: 50%;
            margin-bottom: 20px;
            margin-right: 0;
        }
        @include r(1023) {
            width: 51%;
            

        }
        .text-wrapper {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            white-space: normal;
            z-index: -1;
            right: 58px;
            width: 254px;
            height: 110px;
            padding-left: 72px;
            border-radius: 0px 55px 55px 0px;
            color: $white;
            background: $blueGradient;
            text-align: left;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            line-height: 19px;
            @include r(480) {
                width: 100%;
                border-radius: 0;
                right: 50px;
            }
        }
        .text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            @include r(480) {
                width: 200px;
            }
            @include r(359) {
                width: 120px;
                font-size: 12px;
            }
        }
        .icon-wrapper {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            background: $white;
            width: 155px;
            height: 155px;
            border-radius: 50%;
            box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.15);
            @include r(480) {
                border-radius: 0 50% 50% 0;
            }
        }
    }

    .advantage-img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        transform: translate(-50%, -50%);
        background: url('../images/advantages-icons.png');
        background-repeat: no-repeat;
        background-size: auto;
        &--individual {
            background-position: -100px 0;
        }
        &--quality {
            background-position: 0 0;
        }
        &--service {
            background-position: -300px 0;
        }
        &--price {
            background-position: -200px 0;
        }
    }
    .slick-list {
        padding: 10px !important;
        margin-left: -10px;
        @include r(480) {
            padding: 10px 0 !important;
            margin-left: 0;
        }
        @include r(360) {
            
        }
    }
    .slick-slide {
        opacity: 0;
        &.slick-active {
            opacity: 1;
        }
    }
    .slick-track {
        text-align: center;
    }

    .slick-dots {
        text-align: center;
        li {
            width: auto;
            height: auto;
            margin: 0;
            margin-right: 8px;
        }
        button {
            width: 11px;
            height: 11px;
            border-radius: 100%;
            background: rgba(#000, 0.3);
            font-size: 0;

        }
        .slick-active > button {
            background: #377483;
        }
    }
}