.appointment {
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        
        .slick-list {
            @include r(1024) {
                text-align: center;
            }
        }
        .slick-dots {
            text-align: center;
            li {
                width: auto;
                height: auto;
                margin: 0;
                margin-right: 8px;
            }
            button {
                width: 11px;
                height: 11px;
                border-radius: 100%;
                background: rgba(#000, 0.3);
                font-size: 0;
    
            }
            .slick-active > button {
                background: #377483;
            }
        }
        &__item {
          flex: 1 0 calc(25% - 30px);
          max-width: calc(25% - 30px);
          margin-left: 30px;
          @include r(1600) {
            max-width: calc(33% - 30px);
          }
        }
    }

    &__item {
       
        &-wrapper {
            width: 360px;
            // max-width: 360px;
            background: #FFFFFF;
            border: 1px solid #E3E3E3;
            margin-bottom: 30px;
            @include r(360) {
                width: 320px;
            }
        }
        padding: 0 30px;
    }
    &-icon {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 200px;
        margin-bottom: 100px;
        margin-top: 100px;
        text-align: center;
    }

    &-title {
        padding: 35px 0;
        border-top: 1px solid #e3e3e3;
        text-align: center;
        @include font(20px, #313131, 500, 23px);
        
    }
}

.catalogue-gates {

    .section-wrapper--first {
        @include r(768) {
            margin-top: -140px;
        }
    }

    .appointment-list {
        @include r(1600) {
            justify-content: space-around;
        }
    }

    .appointment-icon {
        height: 160px;
    }
}