@import "variables";

.articles {
    &-list {
        display: flex;
        justify-content: space-between;
        @include r(1600) {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        @include r(768) {
            justify-content: center;
        }
        @at-root .article__item {
            min-width: 360px;
            max-width: 360px;
            padding: 30px;
            border: 1px solid #e3e3e3;
            @include r(1600) {
                margin-bottom: 30px;
                margin-right: 30px;
            }
            @include r(360) {
                margin: 0;
            }
            @include r(359) {
                min-width: auto;
            }
            .title {
                color: $blue;
                font-size: 22px;
                line-height: 26px;
            }

            .description {
                margin-top: 30px;
                padding-top: 25px;
                border-top: 1px solid #ababab;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                word-break: break-word;
                overflow: hidden;
            }
            &:hover {
                .title {
                    text-decoration: underline;
                }
            }
        }
        .slick-dots {
            text-align: center;
            li {
                width: auto;
                height: auto;
                margin: 0;
                margin-right: 8px;
            }
            button {
                width: 11px;
                height: 11px;
                border-radius: 100%;
                background: rgba(#000, 0.3);
                font-size: 0;
    
            }
            .slick-active > button {
                background: #377483;
            }
        }
    }

}
