.wrapper {
    .select2-dropdown {
        z-index: 99999;
    }
}

.call {
    &-popup {
      padding: 60px 60px 30px 60px;
      @include r(768) {
        padding: 30px 20px;
      }
      .popup-close {
        top: 40px;
        right: 40px;
        @include r(768) {
          top: 20px;
          right: 20px;
        }
      }
        .section-title {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &-wrapper {
      width: 100%;
      max-width: 565px;
      
    }
    &-text {
      @include font(16px, #494949, 300, 24px);
      margin-top: -20px;
    }
    &-body {
      margin-top: 30px;
    }
  }

  .request-send {
    padding: 60px 90px;
    text-align: center;
    .section-title {
      padding: 0;
      margin-top: 20px;
    }
    @include r(768) {
      padding: 30px 20px;
    }
    .thank-img {
      width: 150px;
      margin-bottom: 30px;
    }

    .text {
      margin-top: -20px;
      @include font(22px, #7c7c7c, normal, 1.3);
      @include r(768) {
        font-size: 16px;
      }
    }
    .btn  {
      width: 200px;
      margin-top: 30px;
      text-align: center;
    }

    .popup-close {
      top: 20px;
      right: 20px;
    }
  }