// @import "variables";

.checkout {
    .page-wrapper {
      @include r(480) {
        margin-top: -150px;
      }
    }
    &-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 140px;
        @include r(1023) {
            margin-bottom: 60px;
        }
        .order-wrapper {
            padding: 60px 40px 40px;
            background: #fff;
            @include r(1023) {
                padding: 30px 16px;
                margin-top: 60px;
                border-top: 1px solid #e3e3e3;
                border-bottom: 1px solid #e3e3e3;
            }
        }

        .order-header {
            text-align: center;
            @include r(480) {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding-right: 0;
                margin-bottom: 0;
            }
        }

        .order__item {
            margin-right: 0;
            padding-right: 0;
            &-content {
                @include r(1599) {
                    flex-wrap: wrap;
                }
            }
            &-info {
                width: 90%;
            }
            &-total {
                flex-wrap: wrap;
                flex-basis: 0;
                min-width: 140px;
                margin-right: 80px;
                margin-bottom: 14px;
                @include r(1599) {
                    margin-top: 20px;
                }
                @include r(480) {
                    margin-top: 30px;
                }
            }
            &-title {
                margin-bottom: 3px;
                @include r(1599) {
                    margin-bottom: 15px;
                }
            }
            .btn-qvt {
                width: 30px;
                height: 30px;
                margin: 0 15px;
                @include r(1599) {
                    width: 40px;
                    height: 40px;
                    margin: 0 20px;
                }
                &--plus{
                    margin-right: 0;
                }
                &--minus {
                    margin-left: 0;
                }
            }
            &-quantity {
                @include r(1023) {
                    margin-left: 0;
                }
            }
            &-quantity__input input[type=number] {
                width: 52px;
                height: 100%;
                padding: 0;
                font-size: 18px;
                @include r(1599) {
                    width: 66px;
                    padding: 5px;
                }
            }
            &-sum {
                margin-top: 10px;
                @include r(480) {
                    margin-top: 0 ;
                }
            }
        }

        .order-body {
            @include r(1023) {
                justify-content: space-between;
            }
        }

        .order-info {
            @include r(600) {
                padding: 30px 20px;
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        .order-footer {
            @include r(1599) {
                flex-wrap: wrap;
            }
            @include r(1023) {
                justify-content: space-between;
            }
            @include r(480) {
                margin-right: 0;
                &.no-margin {
                    margin-top: -10px;
                }
            }
            &__total {
                position: relative;
                @include font(17px, #000, normal, 24px);
                @include r(480) {
                    margin-top: 20px;
                }
                .total-wrapper {
                    @include font(37px, $orange, normal, 52px);
                    // -webkit-text-fill-color: transparent;
                    // -webkit-background-clip: text !important;
                    // background: $orange-180;
                    @include r(480) {
                        font-size: 30px;
                        line-height: 46px;
                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: -30px;
                    transform: translateX(-100%);
                    width: 240px;
                    height: 1px;
                    background: #d7d7d7;
                    @include r(1599) {
                        content: none;
                    }
                }
            }
            @at-root .ie .checkout-wrapper .order-footer__total .total-wrapper {
                @include text-bg-off($orange);
            }
        }

        .order-check {
            &-wrapper {
                display: flex;
                @include r(480) {
                    width: 100%;
                    padding: 25px 0;
                    border-top: 1px solid #d7d7d7;
                    border-bottom: 1px solid #d7d7d7;
                }
            }

            &__item {
                width: 120px;
                height: 50px;
                @include font(14px, #353535, normal, 1.4);
                @include r(480) {
                    width: 49%;
                }
                &--delivery {
                    border-right: 1px solid #d7d7d7;
                }
                &--install {
                    padding-left: 30px;
                    @include r(480) {
                        text-align: right;
                        .order-check-status {
                            padding-right: 38px;
                        }
                    }
                }
            }
            &-status {
                margin-top: 5px;
                @include font(18px, #ababab, normal, 1.4);
                &.active {
                    color: #439336;
                }
            }
        }
        
        .section-title {
            padding: 0;
            text-align: left;
        }
    }
    &-col {
        &--left {
            width: 100%;
            max-width: 685px;
            @include r(1599) {
                width: 49%;
            }
            @include r(1023) {
                max-width: 100%;
                width: 100%;
            }
        }

        &--right {
            width: 100%;
            max-width: 815px;
            @include r(1599) {
                width: 49%;
            }
            @include r(1023) {
                max-width: 100%;
                width: 100%;
                order: 3;
            }
        }
    }
}
.order-items-switch {
    @include rmin(481) {
        display: none;
    }
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    &:before {
        content: '\e900';
        position: absolute;
        display: inline-block;
        font-family: 'icomoon';
        font-size: 15px;
        font-weight: 900;
        color: $orange;
    }
    &.closed {
        &:before {
            content: '\e902';
            right: 0;
            font-size: 12px;
        }
    }
}

.order-info {
    padding: 60px 60px 40px 60px;
    background: #fff;
}

.how-to-buy {
    margin-left: 60px;
    @include r(768) {
        margin-left: 20px;
        margin-right: 20px;
    }
}