.content {
    @include font(16px, #494949, 300, 24px);
    @include r(1280) {
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
      @include font(48px, #377483, 500, 58px);
      margin-bottom: 30px;
      @include r(1023) {
        font-size: 36px;
        line-height: 46px;
      }
    }

    h2, .heading-h2 {
        @include font(42px, #377483, 300, 49px);
        margin-bottom: 20px;
        @include r(1023) {
            font-size: 26px;
            line-height: 32px;
        }
    }

    h3, .heading-h3 {
        @include font(22px, #494949, normal,  26px);
    }

    &--columns {
        column-width: 749px;
        column-gap: 30px;
       
    }

    &--hide {
        position: relative;
        max-height: 200px;
        overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            z-index: 10;
            display: block;
            width: 100%;
            height: 90px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 67.19%);
        }
    }
    &-toggle {
        color: $orange;
        font-weight: 500;
        margin-top: 20px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        margin-top: 30px;
        list-style: none;
        @include font(18px, #000, 300, 24px);
        li {
            position: relative;
            padding-left: 15px;
            margin-bottom: 14px;
            @include r(480) {
                margin-bottom: 30px;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 4px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $orange-180;
            }
        }
    }

    ol {
        margin-top: 15px;
        list-style: none;
        @include font(inherit, #000, 300, 24px);
        counter-reset: ol-list;
        li {
            position: relative;
            padding-left: 15px;
            margin-bottom: 20px;
            &:before {
                counter-increment: ol-list;
                content: counter(ol-list) '';
                position: absolute;
                left: 0;
                top: 4px;
                @include font(inherit, $orange, bold, 1);
                @include text-bg($orange-180);
            }
        }
    }

    @at-root .ie .content ol li:before {
        @include text-bg-off($orange);
    }

}