.door-types {
    &-list {
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;
        &__item {
            width: 100%;
            text-align: center;
            @include r(1600) {
                margin: 0 15px;
            }
        }
        .slick-list {
            @include r(768) {
                text-align: center;
            }
        }
        .slick-dots {
            text-align: center;
            li {
                width: auto;
                height: auto;
                margin: 0;
                margin-right: 8px;
            }
            button {
                width: 11px;
                height: 11px;
                border-radius: 100%;
                background: rgba(#000, 0.3);
                font-size: 0;
    
            }
            .slick-active > button {
                background: #377483;
            }
        }
    }

    &__item {
        
        &-wrapper {
            width: 100%;
            max-width: 750px;
            background: #FFFFFF;
            border: 1px solid #E3E3E3;
            margin-bottom: 30px;
            @include r(360) {
                max-width: 320px;
            }
        }
    }
    &-img {
        height: 255px;
        margin: 50px 0;
        text-align: center;
        @include r(768) {
            height: auto;
            margin: 40px 0;
            padding: 0 20px;
            img {
                margin: 0 auto;
            }
        }
    }

    &-title {
        padding: 35px 0;
        margin-left: 30px;
        margin-right: 30px;
        border-top: 1px solid #e3e3e3;
        text-align: center;
        @include font(20px, #313131, 500, 23px); 
        @include r(768) {
            font-size: 16px;
            line-height: 19px;
        }
    }
}

.catalogue-entrance {
    
    .section-wrapper--first {
        @include r(768) {
            margin-top: -140px;
        }
    }

}