@import "variables";

.main-slider {
    width: 100%;
    margin-top: 45px;
    height: 765px;
    @include r(768) {
        height: 465px;
    }
    @include r(1280) {
        margin-top: 0;
    }
    .slider {
        &.slick-slider {
            margin-bottom: 0;
        }
        &__item {
            position: relative;
            border: none;
            &:hover,
            &:focus {
                border: none;
            }
        }
        &-img {
          img {
            width: 100%;
            min-height: 765px;
            max-height: 765px;
            object-fit: cover;
            @include r(768) {
                min-height: 485px;
            }
            @include r(600) {
                object-position: 70%;
            }
          } 
        }
        &-caption {
            position: absolute;
            top: 200px;
            @include r(1900) {
                margin-left: 130px;   
            }
            @include r(1024) {
                margin-left: 0;
            }
            @include r(768) {
                top: 140px;
            }
            .btn {
                @include r(768) {
                    margin-left: 45px;
                }
            }
        }
        &__text {
            width: 660px;
            margin-bottom: 30px;
            padding: 30px 100px 30px 45px;
            background: rgba(255,255,255,.6);
            color: #4f4f4f;
            font-size: 46px;
            font-weight: 300;
            line-height: 59px;
            @include r(768) {
                padding: 40px 70px 40px 45px;
                width: 100%;
                font-size: 25px;
                line-height: 30px;
            }
        }
        .btn {
            padding: 16px 40px;
            text-transform: uppercase;
        }
    }
    .slick-dots {
        position: relative;
        width: 100%;
        max-width: 1530px;
        margin: auto;
        bottom: 75px;
        text-align: left;
        @include r(1600) {
            max-width: 76rem;
        }
        @include r(1900) {
            text-align: center;
            bottom: 45px;
        }
        li {
            width: auto;
            height: auto;
            margin: 0;
            margin-right: 8px;
        }
        button {
            width: 11px;
            height: 11px;
            border-radius: 100%;
            background: rgba(#000, 0.5);
            font-size: 0;

        }
        .slick-active > button {
            background: #fff;
        }
    }
    .slick-active {
        .slick-dots {
            button {
                background: #fff;
            }
        }
    }
    .slick-arrow {
        z-index: 2;
        top: 0;
        bottom: 19.5px;
        transform: none;
        width: 125px;
        height: 100%;
        background: rgba($white, 0);
        &:hover {
            background: rgba(#353535, 0.3);
        }
    }
    .slick-prev {
        left: 0;
        &:before {
            display: inline-block;
            color: $white;
            font-family: 'icomoon';
            font-size: 15px;
            content: "\e901";
            transform: scale(-1);
            opacity: 1;
        }
    }
    .slick-next {
        right: 0;
        &:before {
            display: inline-block;
            color: $white;
            font-family: 'icomoon';
            font-size: 15px;
            content: "\e901";
            opacity: 1;
        }
    }
}