.materials {
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include r(1280) {
            justify-content: space-around;
        }
        .slick-list {
            @include r(1024) {
                text-align: center;
            }
        }
        .slick-dots {
            text-align: center;
            li {
                width: auto;
                height: auto;
                margin: 0;
                margin-right: 8px;
            }
            button {
                width: 11px;
                height: 11px;
                border-radius: 100%;
                background: rgba(#000, 0.3);
                font-size: 0;
    
            }
            .slick-active > button {
                background: #377483;
            }
        }

    }
    &-title {
        padding: 35px 0;
        margin: 0 30px;
        margin-top: -3px;
        border-top: 1px solid #e3e3e3;
        text-align: center;
        @include font(20px, #313131, 500, 23px);
        @include anim();
        @include r(768) {
            font-size: 18px;
            line-height: 21px;
        }
        
    }
    &-img {
        // @include anim();
        img {
            height: 358px;
            // transition: height 0.3s ease;
        }
    }

    &__item {
        
        &-wrapper {
            height: 455px;
            width: 360px;
            background: #FFFFFF;
            border: 1px solid #E3E3E3;
            margin-bottom: 30px;
           @include r(360) {
               width: 320px;
           }
        }
        
    
        &:hover {
            position: relative;
            .materials-title {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                border: none;
                background: rgba(0,0,0,0.6);
                @include font(40px, #fff, 300, 47px);
                &:after {
                    position: absolute;
                    top: 50%;
                    transform: translateY(40px);
                    left: 30px;
                    z-index: 10;
                    content: '';
                    display: inline-block;
                    width: 300px;
                    height: 1px;
                    background: #e3e3e3;
                }
            }
            .materials-img {
                height: 455px;
                img {
                    height: 455px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
    
    
}