@import "variables";

.order {
    &-popup {
        padding: 60px 30px 60px 60px;
        @include r(1023) {
            padding: 30px 8px 70px 20px
        }
    }

    &-wrapper {
        width: 100%;
        max-width: 930px;
    }

    &-header {
        @include font(32px, #000, 300, 27px);
        margin-bottom: 30px;
        @include r(768) {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 45px;
            padding-right: 70px;
        }
    }

    &-body {
        max-height: 332px;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: #eaeaea;
            border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background: #C4C4C4;
            border-radius: 3px;
            height: 6px;
        }
        @include r(1023) {
            display: flex;
            flex-wrap: wrap;
        }
        @include r(768) {
            position: relative;
            max-height: 510px;
                
        }
    }
    &-total {
        @include font(32px, #000, normal, 37px);
        margin-right: 20px;
        margin-left: 20px;
        @include r(991) {
            width: 100%;
            margin: 30px auto;
            text-align: center;
        }
    }

    &__item {
        position: relative;
        border: 1px solid #e3e3e3;
        padding: 16px 30px 16px 80px;
        margin-right: 25px;
        margin-bottom: 20px;
        @include r(1023) {
            width: 49%;
            padding: 0 20px 40px 20px;
            margin-right: 5px;
            margin-bottom: 30px;
        }
        @include r(600) {
            width: 100%;
        }

        &-content {
            display: flex;
            @include rmin(1024) {
              justify-content: space-between;
            }
            @include r(1023) {
                flex-direction: column;
                margin-top: 90px;
            }
        }

        &-info {
            display: flex;
        }

        &-img {
            min-width: 62px;
            width: 62px;
        }

        &-desc {
            margin-left: 25px;
        }

        &-title {
            @include font(22px, #000, 300, 26px);
            @include r(768) {
                font-size: 18px;
                line-height: 21px;
            }
            margin-bottom: 15px;
        }

        &-vendor {
            @include font(12px, $orange, 500, 14px);
            -webkit-text-fill-color: transparent;
            background: $orange-180;
           -webkit-background-clip: text;
        }
        @at-root .ie .order__item-vendor {
            @include text-bg-off($orange);
        }

        &-desc-list {
            margin-top: 10px;
            @include font(12px, #656565, normal, 16px);
        }

        &-total {
            display: flex;
            align-items: center;
            align-self: flex-end;
            @include r(1023) {
                flex-direction: column;
                align-self: flex-start;
                align-items: flex-start;
                margin-top: 30px;
            }
        }

        &-sum {
            @include font(28px, #DC4C4C, 300, 33px);
        }

        &-quantity {
            display: flex;
            @include r(1023) {
                margin-left: -20px;
                margin-bottom: 20px;
            }
        }

        &-quantity__input {
            input[type=number] {
                width: 66px;
                border: 1px solid #ababab;
                padding: 5px;
                text-align: center;
                @include font(24px, #000, normal, 28px);
                &::-webkit-inner-spin-button, 
                &::-webkit-outer-spin-button { 
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    margin: 0; 
                }
            }
        }

        @at-root .btn-qvt {
            display: inline-block;
            width: 40px;
            height: 40px;
            background: #f6f6f6;
            margin: 0 20px;
            color: #c4c4c4;
            font-weight: 600;
            &:hover {
                background: #c5c5c5;
                color: #fff;
            }
            &--plus, 
            &--minus {
                .icon {
                    font-weight: 600;
                }
            }
            &--plus {
                .icon {
                    -webkit-text-fill-color: transparent;
                    background: $orange-180;
                    -webkit-background-clip: text;
                }
            }
        }
        @at-root .ie .btn-qvt--plus .icon {
            -webkit-text-fill-color: none !important;
            background: transparent !important;
            -webkit-background-clip: none !important;
        }

        .btn-remove,
        .btn-edit {
            position: absolute;
            top: 0;
            width: 60px;
            height: 60px;
            background: #f7f7f7;

        }

        .btn-remove {
            left: 0;
            color: #DC4C4C;
            font-size: 24px;
        }

        .btn-edit {
            right: 0;
            
            font-size: 29px;
            text-align: center;
            line-height: 60px;
            .icon {
                color: orange;
                -webkit-text-fill-color: transparent;
                background: $orange-180;
                -webkit-background-clip: text;
            }
            @at-root .ie .order__item .btn-edit .icon {
                @include text-bg-off($orange);
            }
        }
    }

    &-footer {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        @include r(991) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @include r(480) {
            margin-right: 12px;
            .btn {
                width: 100%;
            }
        }
    }
}

.submit-block {
    display: flex;
    align-items: center;
    margin-right: 30px;
    @include r(991) {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-right: 0;
    }
}

@include r(600) {
    .fancybox-slide, 
    .fancybox-slide--html {
        padding: 0;
    }
}