@import "variables";
@import "../components/tabs";
.product {
    &-slider {
        //height: 455px;
        margin-top: -40px;
        @at-root .slider__item {
            width: 100%;
            height: inherit !important;
            border: 1px solid #e3e3e3;
            background: #fff;
            margin-right: -1px;
            transition: 0.3s ease-in-out;
            &:hover {
                position: relative;
                border: 1px solid $orange;
                z-index: 10;
            }
        }  

        .slick-list {
            //height: 600px;
            padding-top: 50px;
            margin-left: 0px;
            padding-right: 5px;
            margin-left: -1px;
            @include r(480) {
                width: 260px;
                margin: 0 auto;
            }
        }
        .slick-track {
          display: flex !important;
        }
        .slick-next:before, .slick-prev:before {
            font-size: 0px; 
            line-height: 1; 
            opacity: 1; 
            color: #fff; 
        }
        .slick-arrow {
            top: -28px;
            right: 0;
            width: 50px;
            height: 50px;
            border: 1px solid #8b8b8b;
            @include r(1599) {
                top: -45px;
            }
            @include r(600) {
                top: 0 !important;
                width: 50px;
            }
            @at-root .tabs-wrapper {
                .slick-arrow {
                    top: -33px;
                }
            }
            @at-root .section-manufacturers {
                .slick-arrow {
                    top: -28px
                }
            }
            @at-root .section-collections {
                @include r(1366) {
                    .slick-arrow {
                        top: -28px
                    }
                }
            }
           
            &:hover {
                z-index: 10;
            }
            .icon-arrow {
                display: block;
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-family: 'icomoon';
                font-size: 14px;
                color: #8b8b8b;
                @include r(600) {
                    width: 100%;
                }
                &:hover {
                    background: -webkit-gradient(linear,left top,left bottom,from(#FA9436),to(#D74000));
                    background: -webkit-linear-gradient(#FA9436 0,#D74000 100%);
                    background: -o-linear-gradient(#FA9436 0,#D74000 100%);
                    background: linear-gradient(#FA9436 0,#D74000 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            &:hover:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: -1px;
                background: -webkit-gradient(linear,left top,left bottom,from(#FA9436),to(#D74000));
                    background: -webkit-linear-gradient(#FA9436 0,#D74000 100%);
                    background: -o-linear-gradient(#FA9436 0,#D74000 100%);
                    background: linear-gradient(#FA9436 0,#D74000 100%);
                z-index: -2;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: #fff;
                z-index: -1;
            }
            &.slick-prev {
                left: unset;
                right: 49px;
                @include r(600) {
                    //border-left: none;
                    left: calc(50% - 49px);
                }
                .icon-arrow {
                    transform: rotate(180deg);
                    // @include r(600) {
                    //     text-align: left;
                    //     padding-left: 25px;
                    // }
                }
                &:hover:before {
                    @include r(600) {
                       // margin: -1px -1px -1px 0px;
                    }
                }
            }
            &.slick-next {
                @include r(600) {
                    //border-right: none;
                    right: calc(50% - 50px);
                }
                // .icon-arrow {
                //     @include r(600) {
                //         text-align: left;
                //         padding-left: 25px;
                //     }
                // }
            }
        }
    }
    &-body {
        img {
            margin: 0 auto;
        }
    }

    &-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: 50px;
      padding: 15px 0;
      border-top: 1px solid #e3e3e3;
    }

    &__name {
        font-size: 16px;
        line-height: 21px;
    }

    &__price {
        color: $orange;
        font-size: 22px;
        line-height: 26px;
        white-space: nowrap;

        &-wrapper {

        }
        &--old {
            position: relative;
            margin-right: 15px;
            color: #a5a5a5;
            font-size: 16px;
            line-height: 19px;
            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 10px;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #a5a5a5;
                transform: rotate(-12deg);
            }
        }
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        padding: 14px 20px;
        @include font(14px, #fff, bold, 16px);
        text-transform: lowercase;
        background: #FF7032;
        &--hit {
            background: #B055DA;
        }
        &--discount {
            background: #3FCE78;
        }
    }

    &-wrapper {
        position: relative;
        display: flex;
        flex-direction:column;
        padding: 35px 20px 0px;
        text-align: center;
        background: #fff;
        height: 100%;
        transition: 0.3s ease-in-out;
        &:hover {
            //padding-bottom: 0;
            //margin-bottom: -10px;
            // padding: 50px 0 0 0;
            // position: absolute;
            // width: 274px;
            // height: 495px;
            // transform: scale(1.1);
           
            // padding: 50px 0 0 0;
            
            // transform: translate(-10px, -16px);
            // box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.25);
            // overflow: hidden;
            // transition: none;
            .product-footer {
                // height: 100%;
                background: $orange-280;
                border-top: 1px solid #fff;
                padding: 15px;
                margin-left: -20px;
                margin-right: -20px;
            }

            .product__name {
                color: $white;
                // margin-top: -4px;
                font-weight: 500;
            }

            .product__price {
                color: $white;
                // font-size: 26px;
                // line-height: 30px;
                    &--old {
                        color: $white;
                        &:after {
                            background-color: $white;
                    }
                }
            }
        }
    }
}

.full-gallery {
    width: 100%;
}

.products-list {
    &-wrapper {
      // width: 100%;
      width: calc(100% - 300px - 5.88%);
      @include r(1199) {
        width: 100%;
      }
    }
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        @include r(1600) {
            flex-wrap: wrap;
        }
        @include r(768) {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -4px;
    @include r(480) {
        justify-content: center;
    }
    &__item {
        width: calc(100% / 4);
        border: 1px solid #e3e3e3;
        margin-left: -1px;
        margin-top: -1px;
        background: #fff;
        &:hover {
            position: relative;
            border-color: $orange;
            z-index: 10;
        }
        @include r(1600) {
            width: calc(100% / 3);
        }
        @include r(1024) {
            width: calc(100% / 4);
        }

        @include r(768) {
            width: calc(100% / 3);
        }
        @include r(600) {
            width: calc(100% / 2);
        }
        @include r(480) {
            width: 100%;
            max-width: 300px;
        }
        .product-wrapper {
            // padding: 40px 20px 20px;

            .product-body {
                min-height: 305px;
                img {
                    height: 100%;
                    object-fit: contain;
                }
            }

            .product-footer {
                margin-top: 55px;
                // height: 1;
            }
        }
    }
}

.slider-nav {
    &__item {
        display: inline-block;
        width: 60px;
        height: 60px;
        border: 1px solid $darkerGrey;
        &:after {
            font-family: 'icomoon';
            font-size: 15px;
            color: #a5a5a5;
            content: "\e902";
        }
    }
}

.swiper-container{
     padding: 0 13px!important;
}

.wrapper-slider{
     margin: 0 -13px;
}

.properties {
    &-list {

        &__item {
            position: relative;
            padding: 10px 0;
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: url('../images/line.png');
                background-position: right;
            }
            &:last-child {
                &:before {
                    content: none;
                }
            }
        }
        .title {
            opacity: 0;
            padding-left: 40px;
            @include font(12px, #9a9a9a, bold, 14px);
            @include r(360) {
                padding-left: 20px;
            }
        }
        .value {
            padding-left: 40px;
            @include font(20px, #282828, 300, 28px);
            @include r(360) {
                padding-left: 20px;
            }
        }
    }
}

.equipment {
    &-wrapper {
        position: relative;
        .slider-nav {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 30px;
            width: 50px;
            background: #fff;
            z-index: 10;
            &__item--next {
                position: absolute;
                top: 50%;
                left: 15px;
                width: 30px;
                height: 30px;
                color: #439336;
                font-size: 22px;
                cursor: pointer;
            }
            @include r(1600) {
                right: -40px;
            }
            @include r(768) {
                display: none;
            }
        }

        .slick-slide {
            // &:first-child {
            @include r(360) {
                margin-right: 20px;
                max-width: 200px !important;
            // }
        }
        }
        .slick-list {
            @include r(360) {
                margin-left: 0;
                margin-right: -20px;
            }
        }
    }
    &-list {
        display: flex;
        &__item {
            width: 247px;
            border: 1px solid rgba(255,255,255,0);
            border-left: none;
            border-right: none;
            @include r(360) {
                width: 200px;
            }
            &-header {
                padding: 30px 40px 20px;
                @include r(360) {
                    padding: 30px 20px 20px;
                }
            }
            &-body {
                padding-bottom: 15px;
            }
            &-title {
                @include font(14px, #000, bold, 16px);
                &:before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 18px;
                    height: 18px;
                    margin-right: 14px;
                    border: 4px solid #e9e9e9;
                    border-radius: 50%;
                    background: #e9e9e9;
                }
            }
            &-price {
                margin-top: 30px;
                @include font(34px, $orange, 300, 40px);
                @include text-bg($orange-180);
            }
            &:hover {
                .equipment-list__item-title {
                    &:before {
                        background: $orange-180;
                    }
                }
            }
            @at-root .ie .equipment-list__item-price {
                @include text-bg-off($orange);
            }
            @at-root .ie .product-card .comments-block-title:before {
                @include text-bg-off($orange);
            }

            @at-root .ie .product-card .total-wrapper {
                @include text-bg-off($orange);
            }
            @at-root .ie .product-card .comments-block-body .btn-save-msg .icon-send {
                @include text-bg-off($orange);
            }
            &.active {
                border: 1px solid $orange;
                .equipment-list__item-title {
                    &:before {
                        background: $orange-180;
                    }
                }
                .properties-list .title {
                    opacity: 1;
                }
            }
            &.first {
                .properties-list {
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        display: block;
                        width: 40px;
                        height: 100%;
                        background: #fff;
                        z-index: 10;
                        @include r(360) {
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}

.toggle-equipment {
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0 15px;
    background: #f3f3f3;
    @include font(14px, #313131, bold, 16px);
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        color: rgba(#313131, 0.5);
    }
}

.mCSB_horizontal.mCSB_inside>.mCSB_container {
    margin-bottom: 40px;
}
.mCSB_scrollTools.mCSB_1_scrollbar.mCS-orange.mCSB_scrollTools_horizontal {
    opacity: 1;
}
.mCS-orange.mCSB_scrollTools .mCSB_dragger {
    width: 50% !important;
    max-width: 480px !important;
    top: -4px;
}
.mCS-orange.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ 
    height: 5px;
    margin: 10px auto;
    background: $orange-180; 
}
.mCS-orange.mCSB_scrollTools .mCSB_draggerRail{ 
    height: 3px;
    background-color: #c8c8c8; 
} 

@include r(360) {
    .mCSB_horizontal.mCSB_inside>.mCSB_container {
        margin-right: -20px;
    }
    .mCSB_scrollTools {
        margin-right: 20px;
    }
}
