@import "variables";

.questions {
    // background: url('../images/questions-bg.jpeg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 51%;
    padding: 70px 0;
    margin-bottom: 0;
    @include r(768) {
        padding: 70px 10px;
    }
    @include r(480) {
        padding: 40px 20px;
    }
    .section-title {
        text-align: center;
        margin-bottom: 8px;
        padding: 0;
        @include r(480) {
            text-align: left;
            padding: 0;
            // padding: 40px 20px;
        }
    }

    .section-subtitle {
        width: 100%;
        max-width: 535px;
        margin: 0 auto;
        color: $white;
        text-align: center;
        font-size: 16px;
        line-height: 23px;
        @include r(480) {
           display: none;
        }
    }
}

.feedback-form {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
   
    .form__item {
        margin-top: 30px;
        label {
            color: $white;
        }
        input, textarea {
            width: 100%;
            margin-top: 10px;
            background: rgba($white, 0.9);
            border: none;
            padding: 12px;
        }
        textarea {
            max-height: 120px;
        }
    }

    .form-row {
        display: flex;
        justify-content: space-between;
        @include r(480) {
            flex-wrap: wrap;
        }
        .form__item {
            width: 49%;
            max-width: 320px;
            @include r(480) {
                width: 100%;
                min-width: 100%;
            }
        }
    }

    .btn {
        width: 200px;
        display: block;
        margin: 0 auto;
        padding-top: 17px;
        padding-bottom: 14px;
        text-transform: uppercase;
        @include r(480) {
           margin: 0;
        }
    }
}