@import "variables";
.steps {
    width: 100%;
    padding: 70px 0 90px;
    background: url('../images/steps-bg.jpeg') no-repeat;
    background-size: cover;
    @include r(600) {
        padding: 40px 0 60px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include r(1365) {
            justify-content: center;
        }
        @include r(600) {
            margin-left: 70px;
        }
    }
    .section-title {
        text-align: center;
        @include r(600) {
            font-size: 22px;
            line-height: 26px;
            text-align: left;
            padding: 0 50px;
        }
    }

    &__item {
        display: flex;
        width: 49%;
        margin-bottom: 74px;
        color: $white;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        @include r(1280) {
            width: 51%;
        }
        @include r(992) {
            width: 80%;
        }
        @include r(600) {
            width: 100%;
            font-size: 11px;
            line-height: 13px;
            padding-right: 50px;
        }
    }
    .text-wrapper {
        width: 367px;
        padding-top: 10px;
        margin-left: 32px;
        @include r(600) {
            width: auto;
            margin-left: 25px;
            padding-top: 5px;
        }
    }

    &__title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 10px;
        @include r(600) {
            font-size: 15px;
            line-height: 17px;
        }
    }

    .count-wrapper {
        position: relative;
        height: 125px;
        width: 125px;
        padding-left: 12px;
        font-weight: 200;
        font-size: 120px;
        line-height: 196px;
        @include r(600) {
            min-width: 75px;
            width: 75px;
            height: 85px;
            font-size: 81px;
            line-height: 125px;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            display: block;
            width: 128px;
            height: 125px;
            border: 1px solid rgba($white, 0.3);
            @include r(600) {
                top: -5px;
                left: -8px;
                width: 85px;
                height: 85px;
            }
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -23px;
            left: -34px;
            display: block;
            width: 48px;
            height: 47px;
            border: 1px solid rgba($white, 0.3);
            @include r(600) {
                width: 32px;
                height: 32px;
                bottom: -10px;
                left: -30px;
            }
        }
    }



}