.top-sale-slider {
    margin-top: -101px;
    margin-bottom: -106px;
    @include r(600) {
        margin-top: -30px;
    }
    .slick-list {
        height: 600px;
        padding-top: 50px;
        @include r(480) {
            width: 260px;
            padding-left: 2px;
            padding-right: 3px;
            margin: 0 auto;
        }
    }
}