@import "variables";

.useful {
    &-list {
        display: flex;
        justify-content: space-between;
        &__item {
            width: 360px;
            padding: 30px;
            border: 1px solid #e3e3e3;

            .title {
                color: $blue;
                font-size: 22px;
                line-height: 26px;
            }

            .description {
                margin-top: 30px;
                padding-top: 25px;
                border-top: 1px solid #ababab;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
            }
            &:hover {
                .title {
                    text-decoration: underline;
                }
            }
        }
        

    }

}