.btn {
    display: inline-block;
    padding: 12px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;

    &-orange {
        background: $orange-180;
    }
    &-sm {
        padding: 10px;
    }
    &-md {
        padding: 25px 31px 20px;
    }

    &-lg {
        padding: 17px 42px 19px;
    }
}