/*--------- font-face ---------*/
@font-face {
    font-family: 'Roboto';
    src: url('..css/fonts/Roboto-Black.eot');
    src: url('..css/fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
		url('..css/fonts/Roboto-Black.woff2') format('woff2'),
		url('..css/fonts/Roboto-Black.woff') format('woff'),
		url('..css/fonts/Roboto-Black.ttf') format('truetype'),
		url('..css/fonts/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('..css/fonts/Roboto-Bold.eot');
    src: url('..css/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('..css/fonts/Roboto-Bold.woff2') format('woff2'),
        url('..css/fonts/Roboto-Bold.woff') format('woff'),
        url('..css/fonts/Roboto-Bold.ttf') format('truetype'),
        url('..css/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('..css/fonts/Roboto-Regular.eot');
    src: url('..css/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('..css/fonts/Roboto-Regular.woff2') format('woff2'),
        url('..css/fonts/Roboto-Regular.woff') format('woff'),
        url('..css/fonts/Roboto-Regular.ttf') format('truetype'),
        url('..css/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('..css/fonts/Roboto-Medium.eot');
    src: url('..css/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('..css/fonts/Roboto-Medium.woff2') format('woff2'),
        url('..css/fonts/Roboto-Medium.woff') format('woff'),
        url('..css/fonts/Roboto-Medium.ttf') format('truetype'),
        url('..css/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('..css/fonts/Roboto-Light.eot');
    src: url('..css/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('..css/fonts/Roboto-Light.woff2') format('woff2'),
        url('..css/fonts/Roboto-Light.woff') format('woff'),
        url('..css/fonts/Roboto-Light.ttf') format('truetype'),
        url('..css/fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
	font-style: normal;
	font-display: swap;
}



[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




