@charset "UTF-8";

@import "variables";
@import "fonts";
@import "normalize";
@import "buttons";
@import "slick";



html{
  box-sizing: border-box;
}

*,*:after,*:before{
  box-sizing: inherit;
}

a{
  text-decoration: none;  
  outline: none;
  display: inline-block;
  color: inherit;
  &:active,
  &:hover,
  &:focus,
  &:visited{
    text-decoration: none;
    outline: none;
  }
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
  
body {

}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button{
  outline: none;
}

* {
  @include anim;
}

html,
body {
  min-height: 100%;
  height: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    main {
      flex: 1 0 auto;
    }
    footer {
      flex: 0 0 auto;
    }
  }
}