<li class="image">
    <a href="#" type="button" title="Редактировать текст" class="btn btn-primary" data-image-edit="<?=$img['image_file']?>"><i class="fa fa-wpforms"></i></a>
    <img src="<?=$rimg?>" alt="<?=$img['image_file']?>"  class="img-thumbnail fancy" href="/<?=$imagePath?>/<?=$img['image_file']?>"/>
    <a href="#" title="Удалить" class="btn btn-danger js_delete"><i class="fa fa-eraser"></i></a>
    <input type="hidden" name="image[<?=$img['image_file']?>][]" value="" />
</li>