
#equipmentValuesLabel{
    float: left;
    width: 300px !important;
    font-family: Arial, HelveticaNeue, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    color: #333333;
    font-weight: bold;
}
#upBTN{
    float: right;
    max-width: 200px;
}
#equipmentValues div:first-child{
    width: 100%;
    display: inline-block;
}
#newEqpValue td{
    max-width: 25%;
}
.btn{
    max-width: 130px;
    margin-right: 10px;
}