<li>
    <img src="<?=$rimg?>" alt="<?=$img['image_file']?>" class="img-thumbnail fancy" href="/<?=$imagePath?>/<?=$img['image_file']?>" />
    <a href="#" title="<?=$_lang['review_delete']?>" class="btn btn-danger js_delete"><i class="fa fa-eraser"></i></a>
</li>