.filters{
    &-wrapper {
        width: 100%;
        min-width: 300px;
        max-width: 300px;
        margin-right: 5.88%;
        @include r(1199) {
            display: none;
            min-width: 400px;
            max-width: 400px;
            margin-right: 0;
        }
        @include r(480) {
            max-width: 100%;
            min-width: 100%;
        }
        .section-title {
            margin-bottom: 0;
        }
        .labels-wrapper {
            margin-bottom: 40px;
        }
    }
    &-block {
        &__row {
            padding: 40px 0 30px;
            border-bottom: 1px solid #e2e2e2;
            
        }
    }
    &-title {
        position: relative;
        cursor: pointer;
        @include font(17px, #515151, bold, 1.4);
        &--no-active {
            cursor: default;
            @include font(17px, #515151, bold, 1.4);
        }
        &:after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            content: '\e90d';
            display: inline-block;
            font-family: 'icomoon';
            font-size: 20px;
            font-weight: 500;
            color: #439336;
        }
        &.active {
            &:after {
                content: '\e900';
            }
        }
    }
    &-list {
        display: none;
        &.active {
            display: block;
        }
        &__item {
            margin-top: 15px;
        }

        &-link {
            position: relative;
            padding-left: 41px;
            &:before {
                position: absolute;
                content: '';
                left: 0;
                display: inline-block;
                width: 25px;
                height: 25px;
                border: 2px solid #c4c4c4;
                background: #fff;
                vertical-align: middle;
            }
            &.active {
                &:before {
                    content: '\e903';
                    background: #439336;
                    border: 2px solid #439336;
                    color: #fff;
                    font-family: 'icomoon';
                    font-size: 10px;
                    font-weight: 500;
                    text-align: center;
                    line-height: 22px;
                    
                }
            }
        }

        &-lbl {
            @include font(17px, #515151, normal, 24px);
            cursor: pointer;
        }
    }

    &-input {
        width: 100%;
        background: #f7f7f7;
        border: 1px solid #e2e2e2;
        padding: 8px 18px;
        @include font(20px, #161515, normal, 23px);
    }

    &-range {
        margin-top: 30px;
        .form__item {
            display: flex;
            align-items: center;
        }
        .currency {
            @include font(16px, #c4c4c4, 500, 23px);
            margin-left: 10px;
        }
    }
    &-lbl {
        display: inline-block;
        margin-left: 3px;
        padding: 8px 15px;
        border: 1px solid #439336;
        border-radius: 20px;
        @include font(16px, #8b8b8b, normal, 19px);
        vertical-align: middle;
        cursor: pointer;
        .icon {
            color: #c4c4c4;
            font-size: 12px;
            line-height: 19px;
            vertical-align: middle;
            margin-right: 12px;
        }

        &--orange {
            padding: 10px 15px;
            margin-right: 22px;
            border: 1px solid #fff;
            white-space: nowrap;
            text-align: center;
            @include font(16px, #6f6f6f, 300, 1);
            @include r(600) {
                margin-right: 0;
                padding: 10px 5%;
            }
            @include r(479) {
                width: 100%;
               margin-right: 30px;
               margin-left: 30px;
               margin-bottom: 10px;
            }
            &:hover,
            &.active {
                border: 1px solid $orange;
            }
        }
    }

}

.labels-block {
    width: 100%;
    display: flex;
    align-items: center;
    @include r(1199) {
        margin-top: 30px;
        justify-content: center;
    }
    @include r(600) {
        justify-content: space-between;
    }
    @include r(479) {
        flex-wrap: wrap;           
    }
}

.slider {
    &-selection {
        height: 2px;
        background: rgb(67, 147, 54);
    }
    &-handle {
        top: 0px;
        background: linear-gradient(rgb(250, 148, 54) -15.83%, rgb(215, 64, 0) 155%);
        height: 34px;
        width: 34px;
    }
}

.slider .tooltip.top {
    display: none;
}

.slider.slider-horizontal {
    width: 100%;
    max-width: 300px;
    height: 34px;
    margin-top: 20px;
}

.slider.slider-horizontal .slider-track {
    height: 2px;
        width: 100%;
        margin-top: 0;
        top: 50%;
        left: 0;
}