@import "variables";

.footer {
    color: $white;
    background: $darkBlue;
    @media screen and (min-width: 479px) and (max-width: 1599px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @include r(1600) {
        .container {
            width: 100%;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        @include r(575) {
            flex-direction: column;
        }
    }

    &-top {
        padding: 70px 0;
        @include r(1600) {
            padding: 70px 10px;
        }
        @include r(575) {
            padding: 60px 20px;
        }
        .footer__row {
            justify-content: flex-start;
           
            @include r(1023) {
                justify-content: flex-start;
                flex-wrap: wrap;
            }
        }
    }
    &-bottom {
        .footer__row {
            @include r(1600) {
                padding: 0 10px;
            }
        } 
    }

    &__nav {
        display: flex;
        margin-left: 75px;
        @include r(1600) {
            margin-left: 30px;
        }
        @include r(1280) {
            margin-left: 20px;
        }
        @include r(900) {
            width: 100%;
            margin-left: 0;
            margin-top: 30px;
        }
        @include r(575) {
            margin-left: 0;
            margin-top: 50px;
        }
        font-size: 20px;
        line-height: 23px;
        @include r(575) {
            flex-direction: column;
        }
        &-col {
            padding-left: 75px;
            border-left: 1px solid rgba($white, 0.1);
            @include r(1600) {
                padding-left: 30px;
                padding-right: 30px;
            }
            @include r(1280) {
                padding-left: 20px;
                padding-right: 20px;
            }
            @include r(900) {
                &:first-child {
                    border-left: none;
                    padding-left: 0;
                }
            }
            @include r(575) {
                padding: 50px 0;
                border-left: none;
                border-top: 1px solid rgba($white, 0.1);
            }
            &:first-child {
              min-width: 260px;
            }
            &:last-child {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 50px;
                @include r(1600) {
                    margin-left: 0;
                    justify-content: flex-start;
                }
                @include r(575) {
                    margin-left: 0;
                }
                .menu__item {
                    margin-bottom: 20px;
                }
            }
        }

        .menu__item:not(:last-child) {
            margin-bottom: 31px;
        }

        .menu__link {
            white-space: nowrap;
            &:hover,
            &.active {
                text-decoration: underline;
            }
        }

        .btn {
            width: 295px;
        }
    }

    &-bottom {
        padding: 25px 0 20px;
        border-top: 1px solid rgba($white, 0.1);
        color: rgba($white, 0.5);
        font-size: 12px;
        @include r(575) {
            padding: 20px 20px 25px;
        }
    }

    .logo {
        width: 204px;
        img {  
            width: 100%;
        }
    }
    
    .btn {
        padding: 18px 0 16px;
        background: rgba($white, 0.2);
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.1em;
        &:hover {
            background: rgba($white, 0.4);
        }
    }

    .actions {
        .btn {
            width: 191px;
        }
    }

    .phones {
        margin: 25px 0 23px;
       
        a {
            display: block;
            margin: 10px 0;
            font-size: 22px;
            line-height: 40px;
            font-weight: 300;
        }
    }

    .contacts {
        padding-left: 75px;
        margin-left: 75px;
        border-left: 1px solid rgba($white, 0.1);
        @include r(1600) {
            margin-left: 0;
            padding-left: 30px;
        }
        @include r(1280) { 
            padding-left: 20px;
        }
        @include r(1023) { 
            width: 100%;
            margin-top: 30px;
            padding-left: 0;
            border-left: none;
        }
        @include r(575) {
            margin-left: 0;
            padding-left: 0;
            border-left: none;
        }
        &-title {
            margin: 0;
            margin-top: 5px;
            font-size: 22px;
            line-height: 26px;
            font-weight: 300;
        }
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            @include r(1023) {
                flex-wrap: nowrap;
            }
            @include r(575) {
                flex-wrap: wrap;
            }
        }
        &__item {
            position: relative;
            margin-top: 40px;
            padding-left: 25px;
            font-size: 18px;
            @include r(1280) {
                width: 100%;
                margin-top: 30px;
            }
            @include r(1023) {
                width: 50%;
            }
            @include r(900) {
                width: 100%;
            }
            &:before {
                position: absolute;
                left: 0;
                font-family: 'icomoon';
                font-size: 13px;
                color: $white;
                content: "";
                display: inline-block;
            }
            p {
                margin: 0;
                margin-bottom: 10px;
            }
        }

        .schedule:before {
            content: "\e904";
        }
        .address {
            margin-left: 30px;
            @include r(1280) {
                margin-left: 0;
            }
            @include r(575) {
                margin-left: 0;
            }
            &:before {
                content: "\e90a";
                font-size: 16px;
            }
        }
        .email {
            @include r(1600) {
                width: 100%;
            }
            &:before {
                content: "\e907";
                font-size: 11px;
            }
        }
    }
    .service-info {
        @include r(575) {
            margin-bottom: 25px;
        }
    }
    .aj-logo {
        display: inline-block;
        width: 52px;
        height: 18px;
        opacity: 0.5;
        vertical-align: middle;
        background: url('../images/aj-logo.svg');
        &:hover {
            opacity: 1;
        }
    }
}