.form {
    &-row {
        margin-bottom: 30px;
        &--group {
            margin-top: 50px;
            .form-label {
                margin-bottom: 15px;
            }
        }
        &--confirm {
            margin-top: 60px;
            @include r(768) {
                margin-top: 0;
            }
            @include r(480) {
                .btn {
                    width: 100%;
                }
            }
        }
        &--wide {
            width: 100%;
        }
    }
    
    &-label {
        display: block;
        @include font(16px, #515151, normal, 19px);
        margin-bottom: 5px;
        cursor: pointer;
    }
    &-input {
        width: 100%;
        border: 1px solid #e9e9e9;
        background: #f9f9f9;
        padding: 15px 24px 12px 24px;
        @include font(15px, #515151, normal, 21px);
        &:focus {
            border-color:#377483;
        }
        
    }
    &-checkbox {
        position: relative;
        cursor: pointer;
        font-size: 17px;
        display: inline-block;
        padding-left: 40px;
        vertical-align: middle;
        line-height: 24px;
        margin-bottom: 25px;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 25px;
            height: 25px;
            background: #fff;
            border: 2px solid #c4c4c4;
            
        }
    }
    &__item {
        &.error {
            .form-label {
                color: #DC4C4C;
            }
            .form-input {
                border-color: #DC4C4C;
            }
        }
        &.pass {
            .form-label {
                color: #439336;
            }
            .form-input {
                border-color: #439336;
            }
        }
    }
    &-textarea {
        width: 100%;
        background: #fcfcfc;
        padding: 20px 40px;
        @include font(22px, #282828, normal, 26px);
        max-height: 200px;
        &::placeholder {
            color: #c8c8c8;
        }
    }
}
.text-error {
    display: none;
    font-size: 10px;
    color: #DC4C4C;
}
.input-checkbox {
    position: absolute !important;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    &:checked + .form-checkbox {
        &:before {
            border-color: #439336;
            background: #439336;
        }
        &:after {
            content: '\e903';
            position: absolute;
            font-family: 'icomoon';
            top: 1px;
            left: 6px;
            color: #fff;
            font-size: 10px;
        }
    }
}
/*SELECT 2 THEME*/
.select2 {
    &-container {
        display: block;
        width: 100%;
        &--default {
            .select2-selection {
                &--single {
                    background-color: #f9f9f9;
                    border: 1px solid #e9e9e9;
                    border-radius: 0;
                    display: block;
                    padding: 15px 24px 12px;
                    height: 50px;
                    .select2-selection__rendered {
                        padding: 0;
                        color: #515151;
                        line-height: 21px;
                    }
                    .select2-selection__arrow {
                        height: 50px;
                        width: 50px;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        margin: 0;
                        b {
                            border: none;
                            margin: 0;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            color: $orange;
                            
                            &:before {
                                content: '\e902';
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 14px;
                                font-family: 'icomoon';
                                font-size: 10px;
                                font-weight: 500;
                                // color: $orange;
                                -webkit-text-fill-color: transparent;
                                -webkit-background-clip: text !important;
                                background: $orange-180;
                            }
                        }
                        @at-root .ie .select2-container--default .select2-selection .select2-selection__arrow b:before {
                            -webkit-text-fill-color: none !important;
                            -webkit-background-clip: none !important;
                            background: none;

                        }
                    }
                }
                &__rendered {
                    color: #515151;
                    font-size: 15px;
                    line-height: 21px;
                }
            }
            &.select2-container--open .select2-selection--single .select2-selection__arrow b {
                transform: scaleY(-1);
            }
        }

    }
    &-result {
        color: red;
    }
}

.select2-dropdown {
    background-color: #f9f9f9;
    border: 1px solid #e9e9e9;
    border-radius: 0px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051; }
  
.select2-results {
display: block; }

.select2-results__options {
list-style: none;
margin: 0;
padding: 10px 20px 10px 25px; 
}

.select2-results__option {
padding: 10px 0;
user-select: none;
border-bottom: 1px solid #cdcdcd;
-webkit-user-select: none; 
&:last-child{
    border-bottom: 0;
}
}

.select2-results__option[aria-selected] {
    cursor: pointer;
    color: #515151;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background: #f9f9f9;
    color: #DC4C4C;
    // font-weight: 600;
    &:hover {
        color: #DC4C4C;
    }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    // padding-left: 10px;
    background-color: transparent;
    color: #DC4C4C; 
    // font-weight: 500;
}

.select2-container--open .select2-dropdown {
left: 0; }

.select2-container--open .select2-dropdown--above {
border-bottom: none;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.error {
    .select2-container--default .select2-selection--single {
        border-color: #DC4C4C;
    }
}

.pass {
    .select2-container--default .select2-selection--single {
        border-color: #439336;
    }
}