//Example for icons
//.icon {
//  line-height: 1;
//  display: inline-block;
//  font-size: inherit;
//}

//.icon-clip-2-copy-2 {
//  @extend %icon-clip-2-copy-2;
//}

 // ИКОНКИ КНОПКИ СПИСКИ ОПРЕДЕЛЕНИЯ СЕТКА