@import "menu";

.header {
    position: relative;
    // @include rmin(1281) {
    //   margin-bottom: -35px;
    // }
    .container-header {
        width: 100%;
        @include r(1600) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .btn-bordered {
        text-transform: none;
    }
    &__top {
        @include r(1280) {
            .btn {
                width: auto;
                padding: 8px 10px;
                text-transform: none;
            }
        }
        .header__row {
            position: relative;
            &--main {
              padding: 20px 0;
                align-items: center;
            }
            .right-block--top {
              width: auto;
              align-items: center;
            }
        }
        .phones-block {
          position: relative;
          margin-right: 50px;
          padding: 0 30px 0 20px;
          & > .phone__item:before {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 5px;
            font-family: 'icomoon';
            font-size: 10px;
            font-weight: normal;
            content: "\e902";
            background: linear-gradient(#FA9436 0%, #D74000 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          } 
          &-dropdown {
            position: absolute;
            top: -20px;
            left: 0;
            right: 0;
            padding: 20px;
            height: 0;
            background-color: #fff;
            visibility: hidden;
            opacity: 0;
            box-shadow: none;
            z-index: -1;
            transition: height 0.3s ease-in-out;
            .phone__item:first-child {
              margin-bottom: 15px;
            }
          }
          &:hover {
            .phones-block-dropdown {
              visibility: visible;
              height: max-content;
              opacity: 1;
              z-index: 101;
              box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.08);
            }
          }
        }
        .phone__item {
          font-size: 18px;
          font-weight: 600;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: #FF6928;
          }
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include r(1600) {
            padding-left: 10px;
            // padding-right: 10px;
        }
        @include r(1280) {
            flex-wrap: wrap;
            .header__row {
                align-items: center;
                width: 100%;
            }
        }
        .hide-call-bottom {
            @media screen and (max-width: 1280px) {
                display: none;
            }
            @media screen and (max-width: 768px) {
                display: block;
            }
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        @include r(1600) {
            padding-left: 10px;
            padding-right: 10px;
        }
        &:first-child {
            padding:24px 0 10px;
            border-bottom: 1px solid $secondaryGrey;
        }
    }
    .logo {
        height: 32px;
    }

    .right-block {
        display: flex;
        justify-content: space-between;
        width: 300px;
    }

    .icon-search {
        font-size: 23px;
        color: $darkerGrey;
        &:hover {
            background: $primaryOrange;
            background-clip:text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        @at-root .ie .icon-search:hover {
            @include text-bg-off($orange);
        }
    }
    .address {
        display: flex;
        justify-content: space-between;
        color: $grey;
        font-size: 12px;
        line-height: 32px;
        &__text {
            position: relative;
            font-weight: 500;
            &:before {
                display: inline-block;
                position: absolute;
                top: 2px;
                left: -25px;
                font-family: 'icomoon';
                font-size: 13px;
                font-weight: 500;
                content: "\e90a";
            }
        }
    }

    .icon-order {
        font-size: 29px;
        color: $darkerGrey;
    }

    .btn-call {
        position: relative;
        z-index: 100;
        min-width: 300px;
        width: 300px;
        // padding: 25px 0 21px;
        padding: 23px 0;
        text-transform: uppercase;
    }

    .btn-order,
    .btn-search {
        line-height: 36px;
        .icon {
            vertical-align: middle;
        }
    }

    .btn-order {
        position: relative;
        margin-right: 5px;
        margin-left: 20px;
        &:before {
            content: '';
            position: absolute;
            display: inline-block;
            left: -20px;
            top: 0;
            height: 36px;
            width: 1px;
            background: $secondaryGrey;
        }
        .order-circle{
            display: none;
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            top: 0;
            right: -7px;
            color: #fff;
            background: $orange-180;
            text-align: center;
            line-height: 17px;
            font-size: 8px;
            font-weight: 500;
            // &:before {
            //     content: '';
            //     position: absolute;
            //     border-radius: 50%;
            //     width: 4px;
            //     height: 4px;
            //     top: 5px;
            //     left: 5px;
            //     background-color: #ffffff;
            // }
        }
        &.active {
            .order-circle {
                display: block;
            }
        }
    }

    .btn-search {
        margin-right: 26px;
    }

    .menu-btn {
        height: 30px;
        .burger-line {
            display: block;
            width: 35px;
            height: 3px;
            margin-bottom: 8px;
            background-color: #8b8b8b;
            transition: 0.3s ease-in-out;
        }
        &.active {
            padding-top: 10px;
            .burger-line {
                width: 30px;
                height: 3px;
                margin-bottom: 0;
                &:first-child {
                    transform: rotate(45deg);
                    margin-bottom: -2px;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
            
        }
    }

    .languages {
        position: relative;
        width: 60px;
        line-height: 32px;
        cursor: pointer;
        &:before {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 15px;
            font-family: 'icomoon';
            font-size: 10px;
            font-weight: normal;
            content: "\e902";
            background: $primaryOrange;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        @at-root .ie .languages::before {
            @include text-bg-off($orange);
        }
        .dropdown {
            position: absolute;
            top: 30px;
            z-index: 999;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 80px;
            background: #FFFFFF;
            box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.05);
        }
        .lang__link {
            padding: 5px 10px;
            margin-top: 8px;
            color: #2e2e2e;
            text-transform: uppercase;
        }
        li:first-child {
            .lang__link {
                border-bottom: 1px solid #c4c4c4;
            }
        }
    }

    &-mobile {
        display: none;
        position: relative;
        .btn-search {
            width: 40px;
            margin-right: 0;
        }
        .btn-order {
            width: 40px;
            margin-left: 0;
            &:before {
                content: none;
            }
        }
        .phones-block {
            position: static;
            margin-right: 0;
            padding: 0;
        }
        .phones-block > .phone__item:before {
            content: none;
        }
        .phones-block-dropdown {
            position: absolute;
            top: 70px;
            right: -20px;
            left: unset;
            width: 320px;
            @include r(480) {
                right: 0;
                left: 0;
                width: 100%;
            }
        }
        .phone-icon {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-image: url(../images/icon-phone.svg);
            background-repeat: no-repeat;
            -webkit-background-size: contain;
            background-size: auto;
            background-position: center;
        }
        .menu-btn {
            margin-right: 30px;
        }
        .header-menu-wrapper {
            display: none;
            position: absolute;
            z-index: 1001;
            // top: 145px;
            left: 0;
            width: 100%;
            background: #fff;
            @include r(1280) {
              top: 175px;
            }
            
        }
        .right-block {
            width: auto;
            @include r(480) {
                width: auto;
                margin-left: 10px;
            }
            // &__item {

            // }
        }
        .header__row {
            padding-left: 0;
            padding-right: 0;
            &:first-child {
                padding-bottom: 24px;
            }
            &--phones {
              justify-content: flex-end;
              padding-right: 10px;
              padding-bottom: 0;
              @include r(480) {
                padding: 0;
              }
              .phones-block {
                margin-right: 0;
                padding-bottom: 10px;
                padding-right: 30px;
                @include r(480) {
                  padding-right: 40px;
                  display: none;
                }
                & > .phone__item {
                  position: relative;
                  display: block;
                  &:before {
                    right: -25px;
                  }
                }
                &-dropdown {
                  width: max-content;
                  padding-right: 40px;
                  .phone__item {
                    display: block;
                  }
                }
              }
            }
        }
        .header__bottom {
            padding-left: 0;
            padding-right: 0;
            .header__row:first-child {
                // padding-top: 10px;
                // padding-bottom: 10px;
                border-bottom: none;
                .btn {
                  margin-left: auto;
                  @include r(480) {
                      min-width: unset;
                      width: 100%;
                      padding: 18px 0;
                      font-size: 11px;
                  }
                  @include r(359) {
                      font-size: 9px;
                  }
                //   margin-right: 30px;
                }
            }
            .header__row:last-child{
                // padding-top: 10px;
                // padding-bottom: 10px;
                // justify-content: flex-end;
            }
        }
        .logo {
            min-width: 40px;
            height: 40px;
        }
        .languages {
            @include r(1280) {
               margin: 20px;
            }
        }

        .main-menu {
            flex-direction: column;
            padding: 0 20px;
            height: 100%;
            align-items: flex-start;
            .menu__item {
                position: relative;
                padding: 0;
                border: none;
                margin-bottom: 30px;
                width: 100%;
                transition: 0.3s ease-in-out;
                &.active {
                    > .menu__link {
                        // font-size: 25px;
                        // line-height: 29px;
                        font-weight: 500;
                        // color: #313131;
                    }
                    .submenu-arrow {
                      transform: scaleY(-1);
                      transform-origin: center;
                    }
                }

            }
            .submenu-arrow {
              position: absolute;
              top: 0;
              right: 0;
              width: 40px;
              height: 30px;
              color: #6b6b6b;
              text-align: right;
              font-size: 10px;
              line-height: 30px;
              .icon {
                vertical-align: middle;
              }
              // &:hover {
              //   transform: scaleY(-1);
              //   transform-origin: center;
              // }
            }
            .menu__link {
                font-size: 23px;
                line-height: 27px;
                font-weight: 300;
                color: #6b6b6b;
            }
        }

        .submenu-wrapper {
            position: relative;
            top: 10px;
            padding: 30px 0 0;
            &:before,
            &:after {
                content: '';
                width: 100%;
                height: 4px;
                background: $orange-180;
                position: absolute;
                top: 0;
                left: 0;
            }
            &:after {
                top: unset;
                bottom: 0;
            }
            &.open {
              display: block;
            }
        }
        .submenu {
            flex-direction: column;
            &-block {
                margin-right: 0;
                flex-wrap: wrap;
                &:not(:first-child) {
                    padding-left: 0;
                    border: none;
                }
                &__title {
                    padding-left: 20px;
                }
            }
            &-row {
                flex-direction: column;
                width: 100%;
            }
            &-col {
                margin-right: 0 !important;
                padding-left: 40px;
            }
            &__item {
                margin-bottom: 22px;
            }
            &__link {
                margin-bottom: 0;
                font-size: 22px;
                line-height: 26px;
            }
        }
    }
}

.phones-block--mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  .phones-block-items {
    width: 55%;
  }
  .phone__item {
    font-size: 20px;
    line-height: 30px;
  }
  .schedule {
    display: none;
    margin-left: 10px;
    p {
      margin: 0;
      text-align: right;
      line-height: 120%;
    }
  }
  @include rmin(481) {
    display: none;
  }
}




