$icon_font_name:"Icons";
@font-face {
	font-family:$icon_font_name;
	src: url('fonts/Icons.eot');
	src: url('fonts/Icons.eot?#iefix') format('eot'),
	url('fonts/Icons.woff') format('woff'),
	url('fonts/Icons.ttf') format('truetype'),
	url('fonts/Icons.svg#Icons') format('svg');
}
%icon-aj-logo-w,
%icon-arrow-left,
%icon-arrow-right,
%icon-arrow-slider-left,
%icon-arrow-slider-right,
%icon-briefcase-icon,
%icon-doc-icon,
%icon-email-icon,
%icon-letter-icon,
%icon-map-icon,
%icon-pensil-icon,
%icon-phone-icon,
%icon-poligon-icon,
%icon-user-icon,
%last_selector {
		&:before {
			font-family:$icon_font_name;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
			text-decoration: none;
			text-transform: none;
		}
	}

%icons_before_after {
	&:before,
	&:after {
		font-family: $icon_font_name;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%icons_after {
	&:after {
		font-family: $icon_font_name;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%icon-aj-logo-w:before {
	content:'\E001';
}
%icon-arrow-left:before {
	content:'\E002';
}
%icon-arrow-right:before {
	content:'\E003';
}
%icon-arrow-slider-left:before {
	content:'\E004';
}
%icon-arrow-slider-right:before {
	content:'\E005';
}
%icon-briefcase-icon:before {
	content:'\E006';
}
%icon-doc-icon:before {
	content:'\E007';
}
%icon-email-icon:before {
	content:'\E008';
}
%icon-letter-icon:before {
	content:'\E009';
}
%icon-map-icon:before {
	content:'\E00A';
}
%icon-pensil-icon:before {
	content:'\E00B';
}
%icon-phone-icon:before {
	content:'\E00C';
}
%icon-poligon-icon:before {
	content:'\E00D';
}
%icon-user-icon:before {
	content:'\E00E';
}