@import "variables";
.nav {
    display: flex;
    align-items: center;
    @include r(1366) {
      flex-grow: 1;
      justify-content: space-between;
      margin-right: 40px;
    }

    &__item {
        margin-right: 41px;
        @include r(1366) {
          margin-right: 0;
        }
    }

    &__link {
        color: $grey;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
    &:hover {
        text-decoration: underline;
    }
    }
}

.main-menu {
    display: flex;
    align-items: center;
    height: 60px;
    .menu__item {
        padding-right: 28px;
        &:not(:first-child) {
            padding: 0 28px;
            border-left: 1px solid $lightgrey;
        }
        // @include r(1600) {
        //     //text-align: center;
        //     flex-basis: 0;
        // }
    }

    .menu__link {
        position: relative;
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        @include r(1600) { 
            //white-space: nowrap;
        }
        @include r(1366) {
            font-size: 16px;
            line-height: 19px;
        }
        &:hover,
        &.active {
            &:before {
                content: "";
                position: absolute;
                bottom: -10px;
                display: block;
                width: 100%;
                height: 4px;
                background: $orange-340;
            }
        }
        
    }
}

.submenu {
    display: flex;
    align-items: flex-start;
    &-wrapper {
        display: none;
        position: absolute;
        top: 184px;
        left: 0;
        z-index: 100;
        width: 100%;
        padding: 50px 0;
        background: $white;
        @include r(1600) {
            top: 184px;
        }
    }
    &-block {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        margin-right: 80px;
        &__title {
            width: 100%;
            color: $orange;
            font-size: 24px;
            line-height: 28px;
            font-weight: 300;
            margin-bottom: 20px;
        }
        &:not(:first-child) {
            padding-left: 80px;
            border-left: 1px solid rgba(#c4c4c4, 0.5);
        }
    }
    &-row {
        display: flex;
        width: auto;
    }
    &-col {
        &:not(:last-child) {
            margin-right: 60px;
        }
    }
    &__link {
      display: inline-block;
       font-size: 16px;
       line-height: 19px;
       margin-bottom: 15px;
       &:hover {
           text-decoration: underline;
       }
    }
}

.menu__item:hover {
  @include rmin(1281) {
    > .submenu-wrapper {
        display: block;
    }
  }
}