.pagination {
    &-wrapper {
        margin-top: 70px;
        // margin-bottom: 140px;
        @include r(768) {
            margin-top: 40px;
            margin-bottom: 60px;
        }
        text-align: center;
    }

    &-list {
        &-link {
            @include font(22px, #181818, bold, 26px);
            &:hover {
                color: $orange;
                -webkit-text-fill-color: transparent;
                background: $orange-180;
               -webkit-background-clip: text;
            }
            @at-root .ie .pagination-list-link:hover {
                @include text-bg-off($orange);
            }
        }
        &__item {
            display: inline-block;
            vertical-align: middle;
            margin-right: 30px;
            &.active {
                .pagination-list-link {
                    background: $orange-180;
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                    text-align: center;
                    color: #ffffff;
                    line-height: 34px;
                    &:hover {
                        color: #ffffff;
                        -webkit-text-fill-color: #fff;
                    }
                }
            }
        }

        @at-root .ie .pagination-list__item.active .pagination-list-link:hover {
            color: $orange; 
        }
        
    }
    &-nav__item {
        color: #3c3c3c;
        font-size: 20px;
        font-weight: bold;
        &--prev {
            transform: scale(-1);
        }
    }

}