.search {
    &-wrapper {
        display: none;
        position: absolute;
        left: 200px;
        z-index: 999;
        width: 100%;
        &:before {
            @include r(1599) {
                content: '';
                display: block;
                position: absolute;
                top: -10px;
                left: 0;
                width: 50%;
                height: 64px;
                background-color: #ffffff;
                z-index: -1;
            }
            // @include r(599) {
            //     width: 100%;
            //     left: -40px;
            // }
        }
        @include r(1280) {
            left: unset;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        // @include r(599) {
        //     top: 180px;
        //     left: 20px;
        // }
        
        
        // @include r(480) {
        //     top: 220px;
        // }

        // @include r(360) {
        //     top: 230px;
        // }

        .form-row {
            margin-bottom: 0;
        }

        
    }
    &-form {
        display: flex;
        width: calc(100% - 255px);
        padding-right: 27px;
        background: #fff;
        border: 2px solid #377483;
        @include r(1280) {
            width: 100%;
        }
        // @include r(599) {
        //     width: calc(100% - 65px); 
        // }
        
    }
    &-block {
        @include r(1280) {
            padding: 0 30px; 
            margin: 0 30px;
            border: 1px solid rgba(#c4c4c4, 0.5);
            border-top: none;
            border-bottom: none;
        }
        @include r(359) {
            padding: 0 15px;
            margin: 0 15px;
        }
    }
}

.form-input--search {
    box-sizing: border-box !important;
    width: 100%;
    padding: 10px 24px;
    border: none;
    background-color: rgba(255,255,255,0);
}