@import "variables";

.tabs {
    &-list {
        display: flex;
        margin-bottom: 40px;  
        @at-root .tabs-wrapper {
            .tabs-list {
                @include r(600) {
                    padding: 40px 0;
                }
            }
        }
        @include r(1366) {
            // padding: 40px 0;
            width: 80%;
            overflow-y:auto;
            &::-webkit-scrollbar {
                width: 0px;
                height: 0px;
                padding: 0;
                margin: 0;
                display: block;
                margin-top: -20px;
                background: transparent;
            }
        }
        @include r(600) {
            width: 100%;
            margin-bottom: 100px;
            padding-left: 20px;
        }
    }
    @at-root .collections .tabs-list {
        @include r(1600) {
            width: 90%;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 0px; 
                background: transparent;
            }
        }
    }

    &__link {
        padding: 18px 42px;
        color: $darkerGrey;
        font-size: 20px;
        line-height: 23px;
        white-space: nowrap;
        &:hover,
        &.active {
            color: $white;
            background: $orange-280;
            box-shadow: 0px 10px 44px rgba(13, 13, 13, 0.3);
        }
        &--rounded {
            margin-right: 20px;
            padding: 16px 25px;
            color: $darkerGrey;
            border: 1px solid #e3e3e3;
            border-radius: 25px;
            font-size: 16px;
            line-height: 19px;
            white-space: nowrap;
            &:hover,
            &.active {
                color: $orange;
                border-color: $orange;
            }
        }
    }
}

