/*Variables*/

/*COLORS*/
$grey: #939393;
$lightgrey: #d7d7d7;
$dark: #313131;


/*BACKGROUNDS*/
$orange-180: linear-gradient(180deg, #FA9436 -15.83%, #D74000 155%);
$orange-280: linear-gradient(280deg, #FA9436 4.32%, #EB6024 117.71%);


/*ANIMATIONS*/
@mixin anim {
  transition: all .3s ease;
}

@mixin anim-linear {
  transition: all .3s linear;
}

/*FONTS*/
@mixin f100{font-family: 'MuseoSansCyrl-100',sans-serif;}
@mixin f300{font-family: 'MuseoSansCyrl-300',sans-serif;}
@mixin f500{font-family: 'MuseoSansCyrl-500',sans-serif;}
@mixin f700{font-family: 'MuseoSansCyrl-700',sans-serif;}
@mixin f900{font-family: 'MuseoSansCyrl-900',sans-serif;}



