body {background-color: #F2F2F2 !important;}
.both {clear:both;}
.content {padding-top: 20px;overflow-x: hidden; min-height: 800px;}
.jumbotron {text-align: center; background-color: transparent;}
.jumbotron .btn {font-size: 21px; padding: 14px 24px; }
.nav-justified {background-color: #eee; border-radius: 5px; border: 1px solid #ccc; }
.nav-justified > li > a {margin-bottom: 0; padding-top: 15px; padding-bottom: 15px; color: #777; font-weight: bold; text-align: center; border-bottom: 1px solid #d5d5d5; background-color: #e5e5e5; /* Old browsers */ background-repeat: repeat-x; /* Repeat the gradient */ background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%); /* FF3.6+ */ background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */ background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */ background-image: -o-linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* Opera 11.10+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */ background-image: linear-gradient(top, #f5f5f5 0%,#e5e5e5 100%); /* W3C */ }
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {background-color: #ddd; background-image: none; box-shadow: inset 0 3px 7px rgba(0,0,0,.15); }
.nav-justified > li:first-child > a {border-radius: 5px 5px 0 0; }
.nav-justified > li:last-child > a {border-bottom: 0; border-radius: 0 0 5px 5px; }

@media (min-width: 768px) {
	.nav-justified {
	  max-height: 52px;
	}
	.nav-justified > li > a {
	  border-left: 1px solid #fff;
	  border-right: 1px solid #d5d5d5;
	}
	.nav-justified > li:first-child > a {
	  border-left: 0;
	  border-radius: 5px 0 0 5px;
	}
	.nav-justified > li:last-child > a {
	  border-radius: 0 5px 5px 0;
	  border-right: 0;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.masthead,
	.marketing,
	.footer {
	  padding-left: 0;
	  padding-right: 0;
}
}

ul {list-style: none;padding:0;}

.images, .cover {
  margin:10px;
}
.images li, .cover li {
  float:left;
  margin:5px;
  position:relative;
}
.images li a, .cover li a {
  display: none;
}
.images li:hover a, .cover li:hover a {
  display: block;
}
.images li .btn-danger, .cover li .btn-danger {
  position: absolute;
  top:5px;
  right:5px;
}
.images li .btn-primary, .cover li .btn-primary {
  position: absolute;
  top:5px;
  left:5px;
}
.img-thumbnail.cover {background: #AC1E1E; }

textarea {resize:vertical;}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  line-height: 30px;
  border: 1px solid #CCC;
     -moz-border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
  width:97%;
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 10px;
  font-size: 14px;
  line-height: 17px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}
.tab-content {overflow: visible;}

.twitter-typeahead {background: white;}
.rel {position:relative;
    min-height: 710px;}
#ac_result {
    position: absolute;
top:0px;z-index:1000;background:url(/inspiration/media/style/MODxRE/images/body.jpg);height:100%;}
#ac_result > div {width: 100%;} 
.bottom {position:absolute;bottom:0px;
    width: 94%; }
#items {
    margin-bottom: 20px;}
.desinger .chosen-container{
  width: 400px!important;
}
.image_recall img{width: 100px;}
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}
.text-justify{
	text-align: justify;
}
.text-center{
	text-align: center;
}

.color-img {
  width: 15px;
  height: 15px;
  display: inline-block;
  overflow: hidden;
  -khtml-border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}