.facts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .facts__item {
    position: relative;
    margin-left: 55px;
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 30px; }
    .facts__item .text {
      width: 100%;
      max-width: 300px; }
    .facts__item .counter {
      position: absolute; }
