/*Variables*/
/*COLORS*/
/*BACKGROUNDS*/
/*ANIMATIONS*/
/*Variables*/
/*COLORS*/
/*BACKGROUNDS*/
/*ANIMATIONS*/
.main-slider {
  width: 100%;
  margin-top: 45px;
  height: 765px; }
  @media only screen and (max-width: 768px) {
    .main-slider {
      height: 465px; } }
  @media only screen and (max-width: 1280px) {
    .main-slider {
      margin-top: 0; } }
  .main-slider .slider.slick-slider {
    margin-bottom: 0; }
  .main-slider .slider__item {
    position: relative;
    border: none; }
    .main-slider .slider__item:hover, .main-slider .slider__item:focus {
      border: none; }
  .main-slider .slider-img img {
    width: 100%;
    min-height: 765px;
    max-height: 765px;
    -o-object-fit: cover;
    object-fit: cover; }
    @media only screen and (max-width: 768px) {
      .main-slider .slider-img img {
        min-height: 485px; } }
    @media only screen and (max-width: 600px) {
      .main-slider .slider-img img {
        -o-object-position: 70%;
        object-position: 70%; } }
  .main-slider .slider-caption {
    position: absolute;
    top: 200px; }
    @media only screen and (max-width: 1900px) {
      .main-slider .slider-caption {
        margin-left: 130px; } }
    @media only screen and (max-width: 1024px) {
      .main-slider .slider-caption {
        margin-left: 0; } }
    @media only screen and (max-width: 768px) {
      .main-slider .slider-caption {
        top: 140px; } }
    @media only screen and (max-width: 768px) {
      .main-slider .slider-caption .btn {
        margin-left: 45px; } }
  .main-slider .slider__text {
    width: 660px;
    margin-bottom: 30px;
    padding: 30px 100px 30px 45px;
    background: rgba(255, 255, 255, 0.6);
    color: #4f4f4f;
    font-size: 46px;
    font-weight: 300;
    line-height: 59px; }
    @media only screen and (max-width: 768px) {
      .main-slider .slider__text {
        padding: 40px 70px 40px 45px;
        width: 100%;
        font-size: 25px;
        line-height: 30px; } }
  .main-slider .slider .btn {
    padding: 16px 40px;
    text-transform: uppercase; }
  .main-slider .slick-dots {
    position: relative;
    width: 100%;
    max-width: 1530px;
    margin: auto;
    bottom: 75px;
    text-align: left; }
    @media only screen and (max-width: 1600px) {
      .main-slider .slick-dots {
        max-width: 76rem; } }
    @media only screen and (max-width: 1900px) {
      .main-slider .slick-dots {
        text-align: center;
        bottom: 45px; } }
    .main-slider .slick-dots li {
      width: auto;
      height: auto;
      margin: 0;
      margin-right: 8px; }
    .main-slider .slick-dots button {
      width: 11px;
      height: 11px;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      background: rgba(0, 0, 0, 0.5);
      font-size: 0; }
    .main-slider .slick-dots .slick-active > button {
      background: #fff; }
  .main-slider .slick-active .slick-dots button {
    background: #fff; }
  .main-slider .slick-arrow {
    z-index: 2;
    top: 0;
    bottom: 19.5px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 125px;
    height: 100%;
    background: rgba(255, 255, 255, 0); }
    .main-slider .slick-arrow:hover {
      background: rgba(53, 53, 53, 0.3); }
  .main-slider .slick-prev {
    left: 0; }
    .main-slider .slick-prev:before {
      display: inline-block;
      color: #ffffff;
      font-family: 'icomoon';
      font-size: 15px;
      content: "\e901";
      -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
      transform: scale(-1);
      opacity: 1; }
  .main-slider .slick-next {
    right: 0; }
    .main-slider .slick-next:before {
      display: inline-block;
      color: #ffffff;
      font-family: 'icomoon';
      font-size: 15px;
      content: "\e901";
      opacity: 1; }

.top-sale-slider {
  margin-top: -101px;
  margin-bottom: -106px; }
  @media only screen and (max-width: 600px) {
    .top-sale-slider {
      margin-top: -30px; } }
  .top-sale-slider .slick-list {
    height: 600px;
    padding-top: 50px; }
    @media only screen and (max-width: 480px) {
      .top-sale-slider .slick-list {
        width: 260px;
        padding-left: 2px;
        padding-right: 3px;
        margin: 0 auto; } }

.advantages-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media only screen and (max-width: 1599px) {
    .advantages-list {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 1280px) {
    .advantages-list {
      padding-left: 30px; } }
  @media only screen and (max-width: 1023px) {
    .advantages-list {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-right: 40px; } }
  @media only screen and (max-width: 480px) {
    .advantages-list {
      padding-right: 0;
      padding-left: 0; } }

.advantages__item {
  white-space: nowrap;
  margin-right: -50px; }
  @media only screen and (max-width: 1599px) {
    .advantages__item {
      width: 50%;
      margin-bottom: 20px;
      margin-right: 0; } }
  @media only screen and (max-width: 1023px) {
    .advantages__item {
      width: 51%; } }
  .advantages__item .text-wrapper {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    white-space: normal;
    z-index: -1;
    right: 58px;
    width: 254px;
    height: 110px;
    padding-left: 72px;
    -webkit-border-radius: 0px 55px 55px 0px;
    border-radius: 0px 55px 55px 0px;
    color: #ffffff;
    background: -webkit-linear-gradient(213.8deg, #3A8A93 0.17%, #184B61 138.51%);
    background: -o-linear-gradient(213.8deg, #3A8A93 0.17%, #184B61 138.51%);
    background: linear-gradient(236.2deg, #3A8A93 0.17%, #184B61 138.51%);
    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px; }
    @media only screen and (max-width: 480px) {
      .advantages__item .text-wrapper {
        width: 100%;
        -webkit-border-radius: 0;
        border-radius: 0;
        right: 50px; } }
  .advantages__item .text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media only screen and (max-width: 480px) {
      .advantages__item .text {
        width: 200px; } }
    @media only screen and (max-width: 359px) {
      .advantages__item .text {
        width: 120px;
        font-size: 12px; } }
  .advantages__item .icon-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: #ffffff;
    width: 155px;
    height: 155px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.15); }
    @media only screen and (max-width: 480px) {
      .advantages__item .icon-wrapper {
        -webkit-border-radius: 0 50% 50% 0;
        border-radius: 0 50% 50% 0; } }

.advantages .advantage-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../images/advantages-icons.png");
  background-repeat: no-repeat;
  -webkit-background-size: auto auto;
  background-size: auto; }
  .advantages .advantage-img--individual {
    background-position: -100px 0; }
  .advantages .advantage-img--quality {
    background-position: 0 0; }
  .advantages .advantage-img--service {
    background-position: -300px 0; }
  .advantages .advantage-img--price {
    background-position: -200px 0; }

.advantages .slick-list {
  padding: 10px !important;
  margin-left: -10px; }
  @media only screen and (max-width: 480px) {
    .advantages .slick-list {
      padding: 10px 0 !important;
      margin-left: 0; } }

.advantages .slick-slide {
  opacity: 0; }
  .advantages .slick-slide.slick-active {
    opacity: 1; }

.advantages .slick-track {
  text-align: center; }

.advantages .slick-dots {
  text-align: center; }
  .advantages .slick-dots li {
    width: auto;
    height: auto;
    margin: 0;
    margin-right: 8px; }
  .advantages .slick-dots button {
    width: 11px;
    height: 11px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.3);
    font-size: 0; }
  .advantages .slick-dots .slick-active > button {
    background: #377483; }

/*Variables*/
/*COLORS*/
/*BACKGROUNDS*/
/*ANIMATIONS*/
.steps {
  width: 100%;
  padding: 70px 0 90px;
  background: url("../images/steps-bg.jpeg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  @media only screen and (max-width: 600px) {
    .steps {
      padding: 40px 0 60px; } }
  .steps-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media only screen and (max-width: 1365px) {
      .steps-list {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    @media only screen and (max-width: 600px) {
      .steps-list {
        margin-left: 70px; } }
  .steps .section-title {
    text-align: center; }
    @media only screen and (max-width: 600px) {
      .steps .section-title {
        font-size: 22px;
        line-height: 26px;
        text-align: left;
        padding: 0 50px; } }
  .steps__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 49%;
    margin-bottom: 74px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px; }
    @media only screen and (max-width: 1280px) {
      .steps__item {
        width: 51%; } }
    @media only screen and (max-width: 992px) {
      .steps__item {
        width: 80%; } }
    @media only screen and (max-width: 600px) {
      .steps__item {
        width: 100%;
        font-size: 11px;
        line-height: 13px;
        padding-right: 50px; } }
  .steps .text-wrapper {
    width: 367px;
    padding-top: 10px;
    margin-left: 32px; }
    @media only screen and (max-width: 600px) {
      .steps .text-wrapper {
        width: auto;
        margin-left: 25px;
        padding-top: 5px; } }
  .steps__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px; }
    @media only screen and (max-width: 600px) {
      .steps__title {
        font-size: 15px;
        line-height: 17px; } }
  .steps .count-wrapper {
    position: relative;
    height: 125px;
    width: 125px;
    padding-left: 12px;
    font-weight: 200;
    font-size: 120px;
    line-height: 196px; }
    @media only screen and (max-width: 600px) {
      .steps .count-wrapper {
        min-width: 75px;
        width: 75px;
        height: 85px;
        font-size: 81px;
        line-height: 125px; } }
    .steps .count-wrapper:before {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      width: 128px;
      height: 125px;
      border: 1px solid rgba(255, 255, 255, 0.3); }
      @media only screen and (max-width: 600px) {
        .steps .count-wrapper:before {
          top: -5px;
          left: -8px;
          width: 85px;
          height: 85px; } }
    .steps .count-wrapper:after {
      content: "";
      position: absolute;
      bottom: -23px;
      left: -34px;
      display: block;
      width: 48px;
      height: 47px;
      border: 1px solid rgba(255, 255, 255, 0.3); }
      @media only screen and (max-width: 600px) {
        .steps .count-wrapper:after {
          width: 32px;
          height: 32px;
          bottom: -10px;
          left: -30px; } }

/*Variables*/
/*COLORS*/
/*BACKGROUNDS*/
/*ANIMATIONS*/
/*Variables*/
/*COLORS*/
/*BACKGROUNDS*/
/*ANIMATIONS*/
.tabs-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }
  @media only screen and (max-width: 600px) {
    .tabs-wrapper .tabs-list {
      padding: 40px 0; } }
  @media only screen and (max-width: 1366px) {
    .tabs-list {
      width: 80%;
      overflow-y: auto; }
      .tabs-list::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        padding: 0;
        margin: 0;
        display: block;
        margin-top: -20px;
        background: transparent; } }
  @media only screen and (max-width: 600px) {
    .tabs-list {
      width: 100%;
      margin-bottom: 100px;
      padding-left: 20px; } }

@media only screen and (max-width: 1600px) {
  .collections .tabs-list {
    width: 90%;
    overflow-y: auto; }
    .collections .tabs-list::-webkit-scrollbar {
      width: 0px;
      background: transparent; } }

.tabs__link {
  padding: 18px 42px;
  color: #8b8b8b;
  font-size: 20px;
  line-height: 23px;
  white-space: nowrap; }
  .tabs__link:hover, .tabs__link.active {
    color: #ffffff;
    background: -webkit-linear-gradient(170deg, #FA9436 4.32%, #EB6024 117.71%);
    background: -o-linear-gradient(170deg, #FA9436 4.32%, #EB6024 117.71%);
    background: linear-gradient(280deg, #FA9436 4.32%, #EB6024 117.71%);
    -webkit-box-shadow: 0px 10px 44px rgba(13, 13, 13, 0.3);
    box-shadow: 0px 10px 44px rgba(13, 13, 13, 0.3); }
  .tabs__link--rounded {
    margin-right: 20px;
    padding: 16px 25px;
    color: #8b8b8b;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap; }
    .tabs__link--rounded:hover, .tabs__link--rounded.active {
      color: #FF6928;
      border-color: #FF6928; }

.product-slider {
  height: 455px;
  margin-top: -40px; }
  .slider__item {
    width: 100%;
    border: 1px solid #e3e3e3;
    background: #fff;
    margin-right: -1px; }
    .slider__item:hover {
      position: relative;
      border: 1px solid #FF6928;
      z-index: 10; }
  .product-slider .slick-list {
    height: 600px;
    padding-top: 50px;
    margin-left: 0px;
    padding-right: 5px;
    margin-left: -1px; }
    @media only screen and (max-width: 480px) {
      .product-slider .slick-list {
        width: 260px;
        margin: 0 auto; } }
  .product-slider .slick-next:before, .product-slider .slick-prev:before {
    font-size: 0px;
    line-height: 1;
    opacity: 1;
    color: #fff; }
  .product-slider .slick-arrow {
    top: -28px;
    right: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #8b8b8b; }
    @media only screen and (max-width: 1599px) {
      .product-slider .slick-arrow {
        top: -45px; } }
    @media only screen and (max-width: 600px) {
      .product-slider .slick-arrow {
        top: 0 !important;
        width: 50px; } }
    .tabs-wrapper .slick-arrow {
      top: -33px; }
    .section-manufacturers .slick-arrow {
      top: -28px; }
    @media only screen and (max-width: 1366px) {
      .section-collections .slick-arrow {
        top: -28px; } }
    .product-slider .slick-arrow:hover {
      z-index: 10; }
    .product-slider .slick-arrow .icon-arrow {
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-family: 'icomoon';
      font-size: 14px;
      color: #8b8b8b; }
      @media only screen and (max-width: 600px) {
        .product-slider .slick-arrow .icon-arrow {
          width: 100%; } }
      .product-slider .slick-arrow .icon-arrow:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#FA9436), to(#D74000));
        background: -webkit-linear-gradient(#FA9436 0, #D74000 100%);
        background: -o-linear-gradient(#FA9436 0, #D74000 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FA9436), to(#D74000));
        background: linear-gradient(#FA9436 0, #D74000 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
    .product-slider .slick-arrow:hover:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: -1px;
      background: -webkit-gradient(linear, left top, left bottom, from(#FA9436), to(#D74000));
      background: -webkit-linear-gradient(#FA9436 0, #D74000 100%);
      background: -o-linear-gradient(#FA9436 0, #D74000 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FA9436), to(#D74000));
      background: linear-gradient(#FA9436 0, #D74000 100%);
      z-index: -2; }
    .product-slider .slick-arrow:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fff;
      z-index: -1; }
    .product-slider .slick-arrow.slick-prev {
      left: unset;
      right: 49px; }
      @media only screen and (max-width: 600px) {
        .product-slider .slick-arrow.slick-prev {
          left: -webkit-calc(50% - 49px);
          left: calc(50% - 49px); } }
      .product-slider .slick-arrow.slick-prev .icon-arrow {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
    @media only screen and (max-width: 600px) {
      .product-slider .slick-arrow.slick-next {
        right: -webkit-calc(50% - 50px);
        right: calc(50% - 50px); } }

.product-body img {
  margin: 0 auto; }

.product-footer {
  border-top: 1px solid #e3e3e3;
  margin-top: 50px;
  padding-top: 25px; }

.product__name {
  font-size: 16px;
  line-height: 21px; }

.product__price {
  font-size: 22px;
  line-height: 26px;
  color: #FF6928; }
  .product__price--old {
    position: relative;
    color: #a5a5a5;
    margin-right: 15px;
    font-size: 16px;
    line-height: 19px; }
    .product__price--old:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 10px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #a5a5a5;
      -webkit-transform: rotate(-12deg);
      -ms-transform: rotate(-12deg);
      transform: rotate(-12deg); }

.product__label {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 14px 20px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  line-height: 16px;
  text-transform: lowercase;
  background: #FF7032; }
  .product__label--hit {
    background: #B055DA; }
  .product__label--discount {
    background: #3FCE78; }

.product-wrapper {
  position: relative;
  display: block;
  padding: 35px 20px 10px;
  text-align: center;
  background: #fff; }
  .product-wrapper:hover {
    padding-bottom: 0;
    margin-bottom: -10px; }
    .product-wrapper:hover .product-footer {
      background: -webkit-linear-gradient(170deg, #FA9436 4.32%, #EB6024 117.71%);
      background: -o-linear-gradient(170deg, #FA9436 4.32%, #EB6024 117.71%);
      background: linear-gradient(280deg, #FA9436 4.32%, #EB6024 117.71%);
      border-top: 1px solid #fff;
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: 10px;
      padding-bottom: 10px; }
    .product-wrapper:hover .product__name {
      color: #ffffff;
      margin-top: -4px;
      font-weight: 500; }
    .product-wrapper:hover .product__price {
      color: #ffffff;
      font-size: 26px;
      line-height: 30px; }
      .product-wrapper:hover .product__price--old {
        color: #ffffff; }
        .product-wrapper:hover .product__price--old:after {
          background-color: #ffffff; }

.full-gallery {
  width: 100%; }

.products-list-wrapper {
  width: 100%; }

.products-list-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px; }
  @media only screen and (max-width: 1199px) {
    .products-list-header {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 768px) {
    .products-list-header {
      padding-left: 16px;
      padding-right: 16px; } }

.product-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -4px; }
  @media only screen and (max-width: 480px) {
    .product-list {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .product-list__item {
    width: -webkit-calc(100% / 4);
    width: calc(100% / 4);
    border: 1px solid #e3e3e3;
    margin-left: -1px;
    margin-top: -1px;
    background: #fff; }
    .product-list__item:hover {
      position: relative;
      border-color: #FF6928;
      z-index: 10; }
    @media only screen and (max-width: 1600px) {
      .product-list__item {
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3); } }
    @media only screen and (max-width: 1024px) {
      .product-list__item {
        width: -webkit-calc(100% / 4);
        width: calc(100% / 4); } }
    @media only screen and (max-width: 768px) {
      .product-list__item {
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3); } }
    @media only screen and (max-width: 600px) {
      .product-list__item {
        width: -webkit-calc(100% / 2);
        width: calc(100% / 2); } }
    @media only screen and (max-width: 480px) {
      .product-list__item {
        width: 100%;
        max-width: 300px; } }
    .product-list__item .product-wrapper .product-body {
      height: 305px; }
      .product-list__item .product-wrapper .product-body img {
        height: 100%; }
    .product-list__item .product-wrapper .product-footer {
      margin-top: 55px; }

.slider-nav__item {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #8b8b8b; }
  .slider-nav__item:after {
    font-family: 'icomoon';
    font-size: 15px;
    color: #a5a5a5;
    content: "\e902"; }

.swiper-container {
  padding: 0 13px !important; }

.wrapper-slider {
  margin: 0 -13px; }

.properties-list__item {
  position: relative;
  padding: 10px 0; }
  .properties-list__item:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: url("../images/line.png");
    background-position: right; }
  .properties-list__item:last-child:before {
    content: none; }

.properties-list .title {
  opacity: 0;
  padding-left: 40px;
  font-size: 12px;
  color: #9a9a9a;
  font-weight: bold;
  line-height: 14px; }
  @media only screen and (max-width: 360px) {
    .properties-list .title {
      padding-left: 20px; } }

.properties-list .value {
  padding-left: 40px;
  font-size: 20px;
  color: #282828;
  font-weight: 300;
  line-height: 28px; }
  @media only screen and (max-width: 360px) {
    .properties-list .value {
      padding-left: 20px; } }

.equipment-wrapper {
  position: relative; }
  .equipment-wrapper .slider-nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 30px;
    width: 50px;
    background: #fff;
    z-index: 10; }
    .equipment-wrapper .slider-nav__item--next {
      position: absolute;
      top: 50%;
      left: 15px;
      width: 30px;
      height: 30px;
      color: #439336;
      font-size: 22px;
      cursor: pointer; }
    @media only screen and (max-width: 1600px) {
      .equipment-wrapper .slider-nav {
        right: -40px; } }
    @media only screen and (max-width: 768px) {
      .equipment-wrapper .slider-nav {
        display: none; } }
  @media only screen and (max-width: 360px) {
    .equipment-wrapper .slick-slide {
      margin-right: 20px;
      max-width: 200px !important; } }
  @media only screen and (max-width: 360px) {
    .equipment-wrapper .slick-list {
      margin-left: 0;
      margin-right: -20px; } }

.equipment-list__item {
  width: 247px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-left: none;
  border-right: none; }
  @media only screen and (max-width: 360px) {
    .equipment-list__item {
      width: 200px; } }
  .equipment-list__item-header {
    padding: 30px 40px 20px; }
    @media only screen and (max-width: 360px) {
      .equipment-list__item-header {
        padding: 30px 20px 20px; } }
  .equipment-list__item-body {
    padding-bottom: 15px; }
  .equipment-list__item-title {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    line-height: 16px; }
    .equipment-list__item-title:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 18px;
      margin-right: 14px;
      border: 4px solid #e9e9e9;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #e9e9e9; }
  .equipment-list__item-price {
    margin-top: 30px;
    font-size: 34px;
    color: #FF6928;
    font-weight: 300;
    line-height: 40px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.83%, #FA9436), color-stop(155%, #D74000));
    background: -webkit-linear-gradient(top, #FA9436 -15.83%, #D74000 155%);
    background: -o-linear-gradient(top, #FA9436 -15.83%, #D74000 155%);
    background: linear-gradient(180deg, #FA9436 -15.83%, #D74000 155%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .equipment-list__item:hover .equipment-list__item-title:before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.83%, #FA9436), color-stop(155%, #D74000));
    background: -webkit-linear-gradient(top, #FA9436 -15.83%, #D74000 155%);
    background: -o-linear-gradient(top, #FA9436 -15.83%, #D74000 155%);
    background: linear-gradient(180deg, #FA9436 -15.83%, #D74000 155%); }
  .ie .equipment-list__item-price {
    color: #FF6928;
    background: transparent !important;
    -webkit-text-fill-color: none !important;
    -webkit-background-clip: none !important; }
  .ie .product-card .comments-block-title:before {
    color: #FF6928;
    background: transparent !important;
    -webkit-text-fill-color: none !important;
    -webkit-background-clip: none !important; }
  .ie .product-card .total-wrapper {
    color: #FF6928;
    background: transparent !important;
    -webkit-text-fill-color: none !important;
    -webkit-background-clip: none !important; }
  .ie .product-card .comments-block-body .btn-save-msg .icon-send {
    color: #FF6928;
    background: transparent !important;
    -webkit-text-fill-color: none !important;
    -webkit-background-clip: none !important; }
  .equipment-list__item.active {
    border: 1px solid #FF6928; }
    .equipment-list__item.active .equipment-list__item-title:before {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.83%, #FA9436), color-stop(155%, #D74000));
      background: -webkit-linear-gradient(top, #FA9436 -15.83%, #D74000 155%);
      background: -o-linear-gradient(top, #FA9436 -15.83%, #D74000 155%);
      background: linear-gradient(180deg, #FA9436 -15.83%, #D74000 155%); }
    .equipment-list__item.active .properties-list .title {
      opacity: 1; }
  .equipment-list__item.first .properties-list {
    position: relative; }
    .equipment-list__item.first .properties-list:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 40px;
      height: 100%;
      background: #fff;
      z-index: 10; }
      @media only screen and (max-width: 360px) {
        .equipment-list__item.first .properties-list:before {
          width: 20px; } }

.toggle-equipment {
  width: 100%;
  padding: 20px 15px;
  margin: 20px 0 15px;
  background: #f3f3f3;
  font-size: 14px;
  color: #313131;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; }
  .toggle-equipment:hover {
    color: rgba(49, 49, 49, 0.5); }

.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 40px; }

.mCSB_scrollTools.mCSB_1_scrollbar.mCS-orange.mCSB_scrollTools_horizontal {
  opacity: 1; }

.mCS-orange.mCSB_scrollTools .mCSB_dragger {
  width: 50% !important;
  max-width: 480px !important;
  top: -4px; }

.mCS-orange.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  height: 5px;
  margin: 10px auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.83%, #FA9436), color-stop(155%, #D74000));
  background: -webkit-linear-gradient(top, #FA9436 -15.83%, #D74000 155%);
  background: -o-linear-gradient(top, #FA9436 -15.83%, #D74000 155%);
  background: linear-gradient(180deg, #FA9436 -15.83%, #D74000 155%); }

.mCS-orange.mCSB_scrollTools .mCSB_draggerRail {
  height: 3px;
  background-color: #c8c8c8; }

@media only screen and (max-width: 360px) {
  .mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-right: -20px; }
  .mCSB_scrollTools {
    margin-right: 20px; } }

/*Variables*/
/*COLORS*/
/*BACKGROUNDS*/
/*ANIMATIONS*/
.questions {
  background: url("../images/questions-bg.jpeg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 51%;
  padding: 70px 0;
  margin-bottom: 0; }
  @media only screen and (max-width: 768px) {
    .questions {
      padding: 70px 10px; } }
  @media only screen and (max-width: 480px) {
    .questions {
      padding: 40px 20px; } }
  .questions .section-title {
    text-align: center;
    margin-bottom: 8px;
    padding: 0; }
    @media only screen and (max-width: 480px) {
      .questions .section-title {
        text-align: left;
        padding: 0; } }
  .questions .section-subtitle {
    width: 100%;
    max-width: 535px;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 23px; }
    @media only screen and (max-width: 480px) {
      .questions .section-subtitle {
        display: none; } }

.feedback-form {
  width: 100%;
  max-width: 680px;
  margin: 0 auto; }
  .feedback-form .form__item {
    margin-top: 30px; }
    .feedback-form .form__item label {
      color: #ffffff; }
    .feedback-form .form__item input, .feedback-form .form__item textarea {
      width: 100%;
      margin-top: 10px;
      background: rgba(255, 255, 255, 0.9);
      border: none;
      padding: 12px; }
    .feedback-form .form__item textarea {
      max-height: 120px; }
  .feedback-form .form-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media only screen and (max-width: 480px) {
      .feedback-form .form-row {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .feedback-form .form-row .form__item {
      width: 49%;
      max-width: 320px; }
      @media only screen and (max-width: 480px) {
        .feedback-form .form-row .form__item {
          width: 100%;
          min-width: 100%; } }
  .feedback-form .btn {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding-top: 17px;
    padding-bottom: 14px;
    text-transform: uppercase; }
    @media only screen and (max-width: 480px) {
      .feedback-form .btn {
        margin: 0; } }

/*Variables*/
/*COLORS*/
/*BACKGROUNDS*/
/*ANIMATIONS*/
.articles-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media only screen and (max-width: 1600px) {
    .articles-list {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; } }
  @media only screen and (max-width: 768px) {
    .articles-list {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .article__item {
    min-width: 360px;
    max-width: 360px;
    padding: 30px;
    border: 1px solid #e3e3e3; }
    @media only screen and (max-width: 1600px) {
      .article__item {
        margin-bottom: 30px;
        margin-right: 30px; } }
    @media only screen and (max-width: 360px) {
      .article__item {
        margin: 0; } }
    @media only screen and (max-width: 359px) {
      .article__item {
        min-width: auto; } }
    .article__item .title {
      color: #377483;
      font-size: 22px;
      line-height: 26px; }
    .article__item .description {
      margin-top: 30px;
      padding-top: 25px;
      border-top: 1px solid #ababab;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px; }
    .article__item:hover .title {
      text-decoration: underline; }
  .articles-list .slick-dots {
    text-align: center; }
    .articles-list .slick-dots li {
      width: auto;
      height: auto;
      margin: 0;
      margin-right: 8px; }
    .articles-list .slick-dots button {
      width: 11px;
      height: 11px;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      background: rgba(0, 0, 0, 0.3);
      font-size: 0; }
    .articles-list .slick-dots .slick-active > button {
      background: #377483; }

/*Variables*/
/*COLORS*/
/*BACKGROUNDS*/
/*ANIMATIONS*/
.order-popup {
  padding: 60px 30px 60px 60px; }
  @media only screen and (max-width: 1023px) {
    .order-popup {
      padding: 30px 8px 70px 20px; } }

.order-wrapper {
  width: 100%;
  max-width: 930px; }

.order-header {
  font-size: 32px;
  color: #000;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 30px; }
  @media only screen and (max-width: 768px) {
    .order-header {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 45px;
      padding-right: 70px; } }

.order-body {
  max-height: 332px;
  overflow-y: auto;
  overflow-x: hidden; }
  .order-body::-webkit-scrollbar {
    width: 6px; }
  .order-body::-webkit-scrollbar-track {
    background: #eaeaea;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .order-body::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 6px; }
  @media only screen and (max-width: 1023px) {
    .order-body {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 768px) {
    .order-body {
      position: relative;
      max-height: 510px; } }

.order-total {
  font-size: 32px;
  color: #000;
  font-weight: normal;
  line-height: 37px;
  margin-right: 20px; }
  @media only screen and (max-width: 991px) {
    .order-total {
      width: 100%;
      margin: 30px auto;
      text-align: center; } }

.order__item {
  position: relative;
  border: 1px solid #e3e3e3;
  padding: 16px 30px 16px 80px;
  margin-right: 25px;
  margin-bottom: 20px; }
  @media only screen and (max-width: 1023px) {
    .order__item {
      width: 49%;
      padding: 0 20px 40px 20px;
      margin-right: 5px;
      margin-bottom: 30px; } }
  @media only screen and (max-width: 600px) {
    .order__item {
      width: 100%; } }
  .order__item-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 1023px) {
      .order__item-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 90px; } }
  .order__item-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .order__item-img {
    min-width: 62px;
    width: 62px; }
  .order__item-desc {
    margin-left: 25px; }
  .order__item-title {
    font-size: 22px;
    color: #000;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 15px; }
    @media only screen and (max-width: 768px) {
      .order__item-title {
        font-size: 18px;
        line-height: 21px; } }
  .order__item-vendor {
    font-size: 12px;
    color: #FF6928;
    font-weight: 500;
    line-height: 14px;
    -webkit-text-fill-color: transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.83%, #FA9436), color-stop(155%, #D74000));
    background: -webkit-linear-gradient(top, #FA9436 -15.83%, #D74000 155%);
    background: -o-linear-gradient(top, #FA9436 -15.83%, #D74000 155%);
    background: linear-gradient(180deg, #FA9436 -15.83%, #D74000 155%);
    -webkit-background-clip: text; }
  .ie .order__item-vendor {
    color: #FF6928;
    background: transparent !important;
    -webkit-text-fill-color: none !important;
    -webkit-background-clip: none !important; }
  .order__item-desc-list {
    margin-top: 10px;
    font-size: 12px;
    color: #656565;
    font-weight: normal;
    line-height: 16px; }
  .order__item-total {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end; }
    @media only screen and (max-width: 1023px) {
      .order__item-total {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 30px; } }
  .order__item-sum {
    font-size: 28px;
    color: #DC4C4C;
    font-weight: 300;
    line-height: 33px; }
  .order__item-quantity {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 1023px) {
      .order__item-quantity {
        margin-left: -20px;
        margin-bottom: 20px; } }
  .order__item-quantity__input input[type=number] {
    width: 66px;
    border: 1px solid #ababab;
    padding: 5px;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-weight: normal;
    line-height: 28px; }
    .order__item-quantity__input input[type=number]::-webkit-inner-spin-button, .order__item-quantity__input input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; }
  .btn-qvt {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #f6f6f6;
    margin: 0 20px;
    color: #c4c4c4;
    font-weight: 600; }
    .btn-qvt:hover {
      background: #c5c5c5;
      color: #fff; }
    .btn-qvt--plus .icon, .btn-qvt--minus .icon {
      font-weight: 600; }
    .btn-qvt--plus .icon {
      -webkit-text-fill-color: transparent;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.83%, #FA9436), color-stop(155%, #D74000));
      background: -webkit-linear-gradient(top, #FA9436 -15.83%, #D74000 155%);
      background: -o-linear-gradient(top, #FA9436 -15.83%, #D74000 155%);
      background: linear-gradient(180deg, #FA9436 -15.83%, #D74000 155%);
      -webkit-background-clip: text; }
  .ie .btn-qvt--plus .icon {
    -webkit-text-fill-color: none !important;
    background: transparent !important;
    -webkit-background-clip: none !important; }
  .order__item .btn-remove,
  .order__item .btn-edit {
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;
    background: #f7f7f7; }
  .order__item .btn-remove {
    left: 0;
    color: #DC4C4C;
    font-size: 24px; }
  .order__item .btn-edit {
    right: 0;
    font-size: 29px;
    text-align: center;
    line-height: 60px; }
    .order__item .btn-edit .icon {
      color: orange;
      -webkit-text-fill-color: transparent;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(-15.83%, #FA9436), color-stop(155%, #D74000));
      background: -webkit-linear-gradient(top, #FA9436 -15.83%, #D74000 155%);
      background: -o-linear-gradient(top, #FA9436 -15.83%, #D74000 155%);
      background: linear-gradient(180deg, #FA9436 -15.83%, #D74000 155%);
      -webkit-background-clip: text; }
    .ie .order__item .btn-edit .icon {
      color: #FF6928;
      background: transparent !important;
      -webkit-text-fill-color: none !important;
      -webkit-background-clip: none !important; }

.order-footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px; }
  @media only screen and (max-width: 991px) {
    .order-footer {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media only screen and (max-width: 480px) {
    .order-footer {
      margin-right: 12px; }
      .order-footer .btn {
        width: 100%; } }

.submit-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px; }
  @media only screen and (max-width: 991px) {
    .submit-block {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      margin-right: 0; } }

@media only screen and (max-width: 600px) {
  .fancybox-slide,
  .fancybox-slide--html {
    padding: 0; } }

.wrapper .select2-dropdown {
  z-index: 99999; }

.call-popup {
  padding: 60px 60px 30px 60px; }
  @media only screen and (max-width: 768px) {
    .call-popup {
      padding: 30px 20px; } }
  .call-popup .popup-close {
    top: 40px;
    right: 40px; }
    @media only screen and (max-width: 768px) {
      .call-popup .popup-close {
        top: 20px;
        right: 20px; } }
  .call-popup .section-title {
    padding-left: 0;
    padding-right: 0; }

.call-wrapper {
  width: 100%;
  max-width: 565px; }

.call-text {
  font-size: 16px;
  color: #494949;
  font-weight: 300;
  line-height: 24px;
  margin-top: -20px; }

.call-body {
  margin-top: 30px; }

.request-send {
  padding: 60px 90px;
  text-align: center; }
  .request-send .section-title {
    padding: 0; }
  @media only screen and (max-width: 768px) {
    .request-send {
      padding: 30px 20px; } }
  .request-send .thank-img {
    width: 150px;
    margin-bottom: 30px; }
  .request-send .text {
    margin-top: -20px;
    font-size: 22px;
    color: #7c7c7c;
    font-weight: normal;
    line-height: 1.3; }
    @media only screen and (max-width: 768px) {
      .request-send .text {
        font-size: 16px; } }
  .request-send .btn {
    width: 200px;
    margin-top: 30px;
    text-align: center; }
