// @import "variables";
@import "variables";
@import "templates/appointment-list";
@import "templates/materials-list";
@import "templates/door-types-list";

.catalogue {
    .page-top{
        @include r(480) {
            height: 510px;
        }
    }
    .top-sale {
        .section-title {
            @include rmin(360) {
                @include font(32px, false, 300, 37px);
                padding-right: 16px;
            }
        }
    }
    .section-wrapper--first {
        @include r(768) {
            margin-top: -280px;
        }

        .section-title--before::before,
        .section-title--before::after {
            @include r(768) {
                content: none;
            }
        }
    }

    .top-sale-slider {
        @include r(768) {
            margin-top: -20px;
        }
    }
}

.top-sale {
    position: relative;

    .slider-nav {
        position: relative;
        top: -85px;
        text-align: right;
        @include r(768) {
            top: -10px;
            text-align: center;
        }
        @include r(600) {
            top: -10px;
            text-align: center;
            display: flex;
            margin-left: -1px;
        }
        &__item {
            width: 50px;
            height: 50px;
            border: 1px solid #fff;
            text-align: center;
            line-height: 50px;
            color: #fff;
            cursor: pointer;
            @include r(600) {
                height: 60px;
                width: 51%;
                text-align: left;
                padding-left: 25px;
                border: 1px solid #8b8b8b;
                color: #8b8b8b;
                line-height: 60px;
            }
            &:after {
                content: none;
            }
            &:hover {
                position: relative;
                border:1px solid $orange;
                color: $orange;
                z-index: 10;
            }
            &--prev {
                margin-right: -5px;
                transform: scaleX(-1);
                @include r(600) {
                    margin-right: -1px;
                }
            }
            &--next {
                @include r(600) {
                    margin-right: -1px;
                }
            }
        }
    }
}

.catalogue {
  @include rmin(769) {
    .top-sale {
      .section-title {
        margin-bottom: 50px;
      }
      .top-sale-slider {
        margin-top: -50px;
      }
    }
  }
}