@import "variables";
.contacts {
    &-wrap {
        position: relative;
        margin-top: -235px;
        margin-bottom: 70px;
        display: flex;
        @include r(1023) {
            flex-wrap: wrap;
            .icon {
                display: block;
                line-height: 40px;
            }
        }
        @include r(768) {
            margin-top: -140px;
            margin-left: 20px;
            margin-right: 20px;
        }

        .heading-h2 {
            @include font(30px, #377483, 300, 36px);
            margin-bottom: 65px;
            @include r(1023) {
                font-size: 26px;
                line-height: 32px;
            }
            @include r(1023) {
                text-align: center;
                margin-bottom: 30px;
            }
        }
        .days {
            @include font(14px, #000, 500, false);
            text-transform: uppercase;
        }
    }
    &-row {
        display: flex;
        margin-bottom: 40px;
        @include r(1600) {
            flex-wrap: wrap;
        }
        @include r(1023) {
            justify-content: center;
            text-align: center;
        }
    }
    &-info {
        min-width: 44.8%;
        margin-right: 30px;
        padding: 50px 60px 30px;
        background: #fff;
        @include font(22px, #000, 300, 26px);
        @include r(1023) {
            width: 100%;
            margin-right: 0;
            padding: 30px 20px 30px;
        }
    }
    &-map {
        width: 100%;
        max-width: 100%;
        border: 11px solid #fff;
    }
    .address {
        .icon {
            color: #377483;
            font-size: 26px;
            margin-right: 5px;
            @include r(1023) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
    .schedule__item {
        width: 50%;
        @include r(1600) {
            width: 100%;
        }
        .icon {
            color: #377483;
            font-size: 23px;
            margin-right: 16px;
            @include r(1023) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
        &:last-child {
            width: 60%;
            border-left: 1px solid #c4c4c4;
            padding-left: 40px;
            @include r(1600) {
                width: 100%;
                border-left: 0;
                margin-top: 10px;
            }
            @include r(1023) {
                padding-left: 0;
            }
        }
    }

    .phone__item{
        width: 50%;
        font-size: 26px;
        line-height: 30px;
        @include r(1600) {
            width: 100%;
        }
        &:last-child {
            width: 60%;
            border-left: 1px solid #c4c4c4;
            padding-left: 40px;
            @include r(1600) {
                width: 100%;
                border-left: 0;
                margin-top: 10px;
            }
            @include r(1023) {
                padding-left: 0;
            }
        }
    }

    .social-block {
        padding-top: 35px;
        border-top: 1px solid #c4c4c4;
        @include r(1023) {
            text-align: center;
        }
    }
    .social-link {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 25px;
        background: $orange-180;
        border-radius: 50%;
        color: #fff;
        line-height: 45px;
        text-align: center;
        @include r(1023) {
            margin: 0 12px;
        }
    }
    .icon-phone {
        display: inline-block;
        vertical-align: middle;
        width: 28px;
        height: 25px;
        margin-right: 12px;
        background: url('../images/headphone.svg');
        background-repeat: no-repeat;
        background-size: contain;
        @include r(1023) {
            display: block;
            margin: 0 auto;
            margin-bottom: 15px;
        }
    }
}