@import "variables";
.discount {
    &-wrapper {
        position: relative;
        margin-top: -215px;
        margin-bottom: 140px;
        .heading-h2 {
            @include font(42px, #377483, 300, 49px);
            margin-bottom: 20px;
            @include r(1023) {
                font-size: 26px;
                line-height: 32px;
            }
        }
        
        @include r(768) {
            margin-top: -150px;
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        background: #fff;
        border: 1px solid #e3e3e3;
        margin-bottom: 60px;
        @include r(1365) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            flex-direction: column;
        }
        .btn {
            margin-top: 60px;
            @include r(768) {
                margin-top: 30px;
            }
        }
    }
    &-counter {
        margin-bottom: 20px;
        color: #DC4C4C;
    }
    &-content {
        width: 100%;
        max-width: 66.5%;
        padding: 5.9%;
        @include r(1365) {
            max-width: 100%;
            order: 2;
        }
    }
    &-img {
        width: 43.5%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include r(1365) {
            width: 100%;
            height: 214px;
        }
        
        img {
            width: 100%;
            opacity: 0;
        }
    }
    &-text {
        @include font(16px, #494949, 300, 24px);
        margin-bottom: 10px;
    }

    &-comment {
        @include font(20px, $orange, normal, 1.5);
        @include text-bg($orange-180);
    }
    @at-root .ie .discount-comment {
        @include text-bg-off($orange);
    }

}

.services-wrapper {
    .discount-content {
        width: 57.5%;
        @include r(1365) {
            width: 100%;
        }
    }
    

    .discount-img {
        width: 42.5%;
        @include r(1365) {
            width: 100%;
        }
    }

    .price__item {
        @include font(40px, #494949, 300, 1);
        margin-top: 40px;
        @include r(768) {
            margin-top: 20px;
        }
    }
    .btn {
        width: 100%;
        max-width: 300px;
        @include r(480) {
            padding-left: 0;
            padding-right: 0;
            max-width: 100%;
        }
    }
}

.caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 470px;
    @include r(600) {
        max-width: 90%;
    }
}