/*--------- font-face ---------*/
// @font-face {
//     font-family: 'Rubik';
//     src: url('fonts/Rubik/Rubik-Black.eot');
//     src: url('fonts/Rubik/Rubik-Black.eot?#iefix') format('embedded-opentype'),
// 		url('fonts/Rubik/Rubik-Black.woff2') format('woff2'),
// 		url('fonts/Rubik/Rubik-Black.woff') format('woff'),
// 		url('fonts/Rubik/Rubik-Black.ttf') format('truetype'),
// 		url('fonts/Rubik/Rubik-Black.svg#Rubik-Black') format('svg');
//     font-weight: 900;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
//     font-family: 'Rubik';
//     src: url('fonts/Rubik/Rubik-Bold.eot');
//     src: url('fonts/Rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
//         url('fonts/Rubik/Rubik-Bold.woff2') format('woff2'),
//         url('fonts/Rubik/Rubik-Bold.woff') format('woff'),
//         url('fonts/Rubik/Rubik-Bold.ttf') format('truetype'),
//         url('fonts/Rubik/Rubik-Bold.svg#Rubik-Bold') format('svg');
//     font-weight: bold;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
//   font-family: 'Rubik';
//   src: url('fonts/Rubik/Rubik-Thin.eot');
//   src: url('fonts/Rubik/Rubik-Thin.eot?#iefix') format('embedded-opentype'),
//       url('fonts/Rubik/Rubik-Thin.woff2') format('woff2'),
//       url('fonts/Rubik/Rubik-Thin.woff') format('woff'),
//       url('fonts/Rubik/Rubik-Thin.ttf') format('truetype'),
//       url('fonts/Rubik/Rubik-Thin.svg#Rubik-Thin') format('svg');
//   font-weight: 100;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//     font-family: 'Rubik';
//     src: url('fonts/Rubik/Rubik-Regular.eot');
//     src: url('fonts/Rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
//         url('fonts/Rubik/Rubik-Regular.woff2') format('woff2'),
//         url('fonts/Rubik/Rubik-Regular.woff') format('woff'),
//         url('fonts/Rubik/Rubik-Regular.ttf') format('truetype'),
//         url('fonts/Rubik/Rubik-Regular.svg#Rubik-Regular') format('svg');
//     font-weight: normal;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
//     font-family: 'Rubik';
//     src: url('fonts/Rubik/Rubik-Medium.eot');
//     src: url('fonts/Rubik/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
//         url('fonts/Rubik/Rubik-Medium.woff2') format('woff2'),
//         url('fonts/Rubik/Rubik-Medium.woff') format('woff'),
//         url('fonts/Rubik/Rubik-Medium.ttf') format('truetype'),
//         url('fonts/Rubik/Rubik-Medium.svg#Rubik-Medium') format('svg');
//     font-weight: 500;
// 	font-style: normal;
// 	font-display: swap;
// }

// @font-face {
//     font-family: 'Rubik';
//     src: url('fonts/Rubik/Rubik-Light.eot');
//     src: url('fonts/Rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'),
//         url('fonts/Rubik/Rubik-Light.woff2') format('woff2'),
//         url('fonts/Rubik/Rubik-Light.woff') format('woff'),
//         url('fonts/Rubik/Rubik-Light.ttf') format('truetype'),
//         url('fonts/Rubik/Rubik-Light.svg#Rubik-Light') format('svg');
//     font-weight: 300;
// 	font-style: normal;
// 	font-display: swap;
// }

@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik/Rubik-Black.eot');
  src: url('fonts/Rubik/Rubik-Black.eot?#iefix') format('embedded-opentype'),
  url('fonts/Rubik/Rubik-Black.woff2') format('woff2'),
  url('fonts/Rubik/Rubik-Black.woff') format('woff'),
  url('fonts/Rubik/Rubik-Black.ttf') format('truetype');
  font-weight: 900;
font-style: normal;
font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik/Rubik-Bold.eot');
  src: url('fonts/Rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/Rubik/Rubik-Bold.woff2') format('woff2'),
      url('fonts/Rubik/Rubik-Bold.woff') format('woff'),
      url('fonts/Rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Rubik';
src: url('fonts/Rubik/Rubik-Light.eot');
src: url('fonts/Rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Rubik/Rubik-Light.woff2') format('woff2'),
    url('fonts/Rubik/Rubik-Light.woff') format('woff'),
    url('fonts/Rubik/Rubik-Light.ttf') format('truetype');
    
font-weight: 100;
font-style: normal;
font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik/Rubik-Regular.eot');
  src: url('fonts/Rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/Rubik/Rubik-Regular.woff2') format('woff2'),
      url('fonts/Rubik/Rubik-Regular.woff') format('woff'),
      url('fonts/Rubik/Rubik-Regular.ttf') format('truetype');    
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik/Rubik-Medium.eot');
  src: url('fonts/Rubik/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/Rubik/Rubik-Medium.woff2') format('woff2'),
      url('fonts/Rubik/Rubik-Medium.woff') format('woff'),
      url('fonts/Rubik/Rubik-Medium.ttf') format('truetype');
      
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik/Rubik-Light.eot');
  src: url('fonts/Rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/Rubik/Rubik-Light.woff2') format('woff2'),
      url('fonts/Rubik/Rubik-Light.woff') format('woff'),
      url('fonts/Rubik/Rubik-Light.ttf') format('truetype');
      
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icons/icomoon.eot?odds0s');
    src:  url('fonts/icons/icomoon.eot?odds0s#iefix') format('embedded-opentype'),
    url('fonts/icons/icomoon.woff2?odds0s') format('woff2'),
    url('fonts/icons/icomoon.woff?odds0s') format('woff'),
      url('fonts/icons/icomoon.ttf?odds0s') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

[class^="icon-"], [class*="icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


  .icon-minus:before {
    content: "\e900";
  }
  .icon-arrow:before {
    content: "\e901";
  }
  .icon-arrow-down:before {
    content: "\e902";
  }
  .icon-check:before {
    content: "\e903";
  }
  .icon-clock:before {
    content: "\e904";
  }
  .icon-close:before {
    content: "\e905";
  }
  .icon-dot:before {
    content: "\e906";
  }
  .icon-email:before {
    content: "\e907";
  }
  .icon-facebook:before {
    content: "\e908";
  }
  .icon-instagram:before {
    content: "\e909";
  }
  .icon-location:before {
    content: "\e90a";
  }
  .icon-order:before {
    content: "\e90b";
  }
  .icon-pencil:before {
    content: "\e90c";
  }
  .icon-plus:before {
    content: "\e90d";
  }
  .icon-search:before {
    content: "\e90e";
  }
  .icon-send:before {
    content: "\e90f";
  }
  .icon-trash:before {
    content: "\e910";
  }



