@import "global-style/variables";
.footer{
  background-color: $default-darker;
  padding-top: 101px;
  padding-bottom: 76px;
} 

.footer__line{
  display: flex;
  justify-content: space-between;
  height: 52px;
  align-items: center;
}

.footer__center-line{
  max-width: 1313px;
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background-color: $primary-color;
  margin: 0px 56px;
}

.footer__btn-top{
  a{
    width: 52px;
    height: 52px;
    border: 1px solid rgba($primary-color, .2);
    position: relative;
    img{
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.footer__navigation{
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}

.footer__navigation-title{
  text-transform: uppercase;
  @include f700;
  letter-spacing: 1px;
  color: $primary-color;
  padding-top: 2px;
  padding-bottom: 27px;
}

.footer__navigation-list a{
  @include f300;
  line-height: 30px;
  color: $primary-color;
}


.footer__navigation-column2{
  margin-left: -72px;
}
.footer__navigation-column3{
  margin-left: -27px;
}

.footer__navigation-contacts{
  padding-bottom: 36px;
}

.footer__contacts-city{
  @include f700;
  padding-bottom: 10px;
  color: $primary-color
}

.footer__contacts-item{
  padding-bottom: 40px;
}

.footer__contacts-adress,
.footer__contacts-phone{
  @include f300;
  line-height: 28px;
  color: $secondary-color;
}

.footer__contacts-adress{
  padding-bottom: 7px;
}

.footer__contacts-phone{
  color: $primary-color;
}

.footer__copy-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 98px;
  border: 1px solid rgba($primary-color, .2);
  margin-top: 42px;
}

.footer__copy{
  @include f300;
  font-size: 14px;
  line-height: 22px;
  color: #969696;
  padding-left: 40px;
}

.footer__social{
  margin-left: -183px;
}

.footer__social a + a{
  padding-left: 40px;
}
 
.footer__pertner{
  padding-right: 40px;
}



@include respond-to(tablets-old){
  .footer .container{
    padding: 0px 40px;
  }
  .footer__navigation{
    flex-wrap: wrap;
  }
  .footer__navigation-column{
    max-width: 345px;
    width: 100%;
  }
  .footer__navigation-column1{
    padding-bottom: 50px;
  }
  .footer__navigation-column2{
    margin-left: 157px;
    margin-right: 235px;
    padding-bottom: 50px;
  }
  .footer__navigation-column3{
    margin-left: 0;
  }
  .footer__navigation-column4{
    margin-right: 235px;
  }
}

@include respond-to(tablets-1180){
  .footer__navigation-column2{
    margin-left: 125px;
    margin-right: 100px;
  }
  .footer__navigation-column4{
    margin-right: 100px;
  }
  .footer__copy{
    max-width: 253px;
    width: 100%;
  }
}
@include respond-to(tablets-1023){
  .footer .container{
    padding: 0px 24px;
  }
}
@include respond-to(tablets-992){
  .footer__navigation-column2,
  .footer__navigation-column3,
  .footer__navigation-column4{
    max-width: 251px;
  }
  .footer__navigation-list,
  .footer__contacts-adress,
  .footer__contacts-phone{
    font-size: 14px;
  }
  .footer__copy{
    font-size: 12px;
    line-height: 18px;
  }
  .footer__social{
    margin-left: 0;
  }
  .footer{
    padding-top: 60px;
  }
}
@include respond-to(tablets-888){
  .footer__navigation-column2{
    margin-left: 45px;
    margin-right: 45px;
  }
  .footer__navigation-column4{
    margin-right: 45px;
  }
}
@include respond-to(wide-handhelds-767){
  .footer__navigation-column2{
    margin-left: 0px;
    margin-right: 0px;
    max-width: 245px;
  }
  .footer__navigation-column4{
    margin-right: 0px;
  }
  .footer__copy, .footer__social a+a{
    padding-left: 15px;
  }
  .footer__pertner{
    padding-right: 15px;
  }
}
@include respond-to(handhelds){
  .footer .container{
    padding: 0px 20px;
  }
  .footer{
    padding: 30px 0 60px;
  }
  .footer__logo img{
    min-width: 52px;
    height: 52px;
  }
  .footer__center-line{
    display: none;
  }
  .footer__btn-top{
    display: none;
  }
  .footer__copy-info{
    border: none;
  }
  .footer__navigation{
    display: block;
    padding-top: 10px;
  }
  .footer__navigation-title{
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      right: 0;
      top: 33px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid #fff;

    }
  }
  .footer__copy-info{
    flex-wrap: wrap;
  }
  .footer__navigation-column{
    border-bottom: 2px solid rgba(#fff,.2);
    max-width: 100%;
    padding-bottom: 0;
  }
  .footer__navigation-list{
    display: none;
  }
  .logo-mini{
    padding-top: 0;
  }
  .btn-menu__row:last-child{
    width: 12px;
  }
  .footer__contacts-item{
    display: none;
    & + .menu__contacts-item{
      display: none;
    }
  }
  .footer__copy{
    order: 1;
    max-width: 340px;
    padding-left: 0;
    padding-top: 40px;
    font-size: 14px;
  }
} 






 
