@charset "UTF-8";
@import "fonts";
@import "variables";
@import "reset";
@import "normalize";


html {
  box-sizing: border-box;
}

*, 
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;  
  outline: none;
  display: inline-block;
  color: inherit;
  &:active,
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
    outline: none;
  }
  cursor: pointer;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

p {
  margin: 0;
}

noscript {
  position: fixed;
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  height: 320px;
  z-index: 9999;
  border: 2px solid #327b87;
  text-align: center;
  padding: 60px 50px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #494949;
  display: flex;
  justify-content: center;
  align-items: center;
}

noscript > div > a {
  color: $orange !important;
  text-decoration: underline !important;
}


body {
  min-width: 320px;
  margin: 0;
  background: $white;
  color: $dark;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  line-height: 18px;
  overflow-x: hidden;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button{
  outline: none;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}
// * {
//   @include anim;
// }

html,
body {
  min-height: 100%;
  height: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    main {
      flex: 1 0 auto;
    }
    footer {
      flex: 0 0 auto;
    }
  }
}

.container {
  @include rmin(1600) {
    width: 100%;
    max-width: 1530px;
  }
  @include r(1240) {
    max-width: 100%;
  }
  &-sp {
    @include r(991) {
      padding-left: 20px;
      padding-right: 20px;
    }
   
  }
}

.main {
  background: url('../images/advantages-bg.png'), url('../images/advantages-bg-2.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left -10px top 60px, right -40px top 450px;
  @include r(768) {
    background: none;
  }
}

.section {
  margin: 140px 0;
  @include r(1023) {
    margin: 70px 0;
  }
  &-bg {
    height: 440px;
    padding-top: 60px;
    background-image: url(../images/page-top-bg.jpeg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center bottom -100px;
    @include r(768) {
      height: 255px;
      background-position: center bottom;
    }
    &--appointment {
      background-image: url(../images/bg-appointment.jpeg);
      
    }

    &--materials {
      background-image: url(../images/bg-materials.jpeg);
    }

    &--types {
      background-image: url(../images/bg-types.jpeg);
    }
  }
  &-wrapper {
    margin-top: -340px;
    margin-bottom: 140px;
    @include r(768) {
      margin-top: -200px;
      margin-bottom: 60px;
    }
    &--first {
      position: relative;
      z-index: 10;
      margin-top: -240px;
      @include r(768) {
        margin-top: -140px;
      }
    }
  }
  &-news {
    margin-top: 70px;
  }
  &-article {
    margin: 0;
  }
}

.section-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 37px;
  margin-bottom: 40px;
  @include r(1280) {
    padding-left: 30px;
  }
  @include r(768) {
    font-size: 22px;
    line-height: 26px;
    padding-left: 20px;
    padding-right: 80px;
  }
  &--before {
    position: relative;
    color: #6f6f6f;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -43px;
      width: 15px;
      height: 15px;
      transform: rotate(45deg) translateY(-10px);
      border: 1px solid #414141;
      @include r(1280) {
        left: -15px;
      }
      @include r(768) {
        width: 12px;
        height: 12px;
        top: 15px;
        left: -13px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: -38px;
      width: 400px;
      height: 1px;
      background: #414141;
      transform: translateX(-100%);
      @include r(1280) {
        left: -10px;
      }
    }
  }
  &--white {
    color: #fff;
    &.section-title--before {
      color: #fff;
      &:before {
        border: 1px solid #fff;
      }
      &:after {
        background: #fff;
      }
    }
  }
}

.heading {
  &-h1 {
    @include font(46px, false, bold, 60px);
    margin-bottom: 30px;
    @include r(600) {
      font-size: 34px;
      line-height: 1.3;
      margin-bottom: 25px;
    }
  }
  &-h4 {
    @include font(20px, #353535, 500, 23px);
  }
}

/*CONTENT STYLES*/
@import "templates/content";



/*buttons style*/
.btn {
  display: inline-block;
  padding: 10px 20px;
  //color: #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  white-space: pre-line;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;

  &-orange {
    color: $white;
    background: $orange-280;
    font-weight: bold;
    letter-spacing: 0.1em;
    &:hover {
      background: $orange-280-hover;
    }
  }
  &-sm {
    padding: 10px 20px;
    line-height: 14px;
    font-weight: bold;
  }
  &-md {
    padding: 16px 40px;
    font-weight: bold;
  }
  &-lg {
    padding: 17px 42px 19px;
  }
  &-big {
    border: 1px solid rgba(255,255,255,0);
    padding: 23px 48px 20px;
    @include font(14px, false, bold, 16px);
    letter-spacing: 0.1em;
  }
  &-bordered {
    border: 1px solid $darkerGrey;
    &:hover {
      background: $dark;
      color: $white;
    }
  }
  &-wide {
    width: 100%;
  }
}

.popup-close {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 22px;
  line-height: 22px;
  color: #c4c4c4;
}

.page-top {
  position: relative;
  height: 440px;
  margin-top: 45px;
  padding-top: 60px;
  background-image: url('../images/page-top-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom -100px;
  @include r(1280) {
    margin-top: 0;
  }
  @include r(1023) {
    background-position: bottom center;
  }
  @include r(768) {
    padding-top: 50px;
    height: 360px;
  }

  &--interior-doors {
    @include r(768) {
      height: 510px;
    }
  }

  &--sub-catalogue {
    height: 235px;
    background-position: center bottom -280px;
    @include r(1024) {
      background-position: center bottom 0;
    }
  }

  &--product-single {
    height: 390px;
    background-position: center bottom -175px;
    @include r(1199) {
      background-position: center bottom;
    }
  }

  &--news-all {
    height: 230px;
    background-position: center bottom -300px;
    @include r(1199) {
      background-position: center bottom;
    }
  }
  &--news-single {
    height: 375px;
    background-position: center bottom -160px;
  }
  @include r(1199) {
    background-position: center bottom;
  }
  &--discount-single {
    height: 390px;
    background-position: center center;
    padding-top: 20px;
  }

  &--about {
    height: 230px;
    background-position: center bottom -300px;
    @include r(1199) {
      background-position: center bottom;
    }
  }

  &--no-bg {
    height: 185px;
    padding-top: 36px;
    border-top: 1px solid #efefef;
    background-image: none;
  }
  &--error {
    @include r(1023) {
      height: 10px;
    }
  }
  
}

.page-wrapper {
  position: relative;
  margin-top: -200px;
  @include r(768) {
    margin-top: -175px;
  }
  @include r(480) {
    margin-top: -190px;
  }
}
/*BREADCRUMBS*/
.breadcrumbs {
  margin-top: -15px;
  &-list {
    display: flex;
    @include font(10px, #fff, bold, 12px);
    text-transform: uppercase;
    flex-wrap: wrap;
    @include r(768) {
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__item {
    position: relative;
    // &:not(:first-child) {
    //   margin-left: 37px;
    // }
    margin-bottom: 15px;
    margin-right: 37px;
    &:not(:last-child):after {
      content: '';
      position: absolute;
      display: block;
      top: 2px;
      right: -22px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: $orange-180;
      @include r(768) {
        top: 4px;
      }
    }
    &--current {
      color: rgba(#fff,0.7);
    }
  }
  &-link {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      right: 0;
      height: 1px;
      background: $orange-180;
    }
  }
  &--black {
    color: #000;
    .breadcrumbs-link {
      color: #000;
    }
    .breadcrumbs__item--current {
      color: rgba(#000,0.7);
    }
  }
}

/*FORMS*/
@import "components/forms";

@import "components/search";
.text-center {
  text-align: center;
}

.text-white {
  color: $white;
}

.text-black {
  color: #000;
}

.text-green {
  color: #439336;
}

.no-margin {
  margin: 0 !important;
}

.hide-call {
  display: none;
  @media screen and (min-width: 769px) and (max-width: 1280px) {
    display: block;
  }
}

.result-title {
  margin-top: 30px;
  margin-bottom: 30px;
  @include r(1024) {
    padding: 20px;
  }
  @include font(24px, #494949, 300, 30px);
}