@import "variables";
.news {
    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include r(1200) {
            justify-content: center;
        }
        .article__item {
            margin-bottom: 30px;
            transition: 0.3s ease;
            @include r(768) {
                margin-left: 30px;
            }
            @include r(480) {
                margin-left: 0;
                margin-right: 0;
            }
            &:hover {
                box-shadow: 0px 14px 54px rgba(0, 0, 0, 0.15);
            }
        }
    }
}
.article-header {
    position: relative;
    margin-top: -135px;
    display: flex;
    justify-content: space-between;
    @include r(1240) {
        flex-wrap: wrap;
        justify-content: center;
    }
    @include r(1023) {
        margin-top: -90px;
    }
    &-text {
      width: 100%;
      max-width: 685px;
      margin-top: 200px;
      @include font(28px, #494949, 300, 1.5);
      word-break: break-word;
        @include r(1240) {
            padding: 20px;
            max-width: 100%;
            margin-top: 40px;
        }
        @include r(1024) {
            font-size: 18px;
            margin-top: 20px;
        }
    }
    &-img {
        width: 100%;
        max-width: 775px;
        margin-right: 70px;
        @include r(1240) {
            margin-right: 0;
        }
    }
}
.article-body {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;

    p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    ul {
        color: #494949;
    }
    ul+img {
        margin-top: 70px;
        @include r(1023) {
            margin-top: 40px;
        }
    }

    // .heading-h1 {

    // }

    .heading-h2, h2 {
        white-space: nowrap;
        margin-top: 70px;
        margin-bottom: 35px;
        @include font(34px, #377483, 300, 40px);
        @include r(1023) {
            white-space: pre-wrap;
            margin-top: 40px;
            font-size: 26px;
            line-height: 32px;
        }
    }

    .heading-h3, h3 {
        white-space: nowrap;
        margin-top: 70px;
        margin-bottom: 12px;
        @include font(19px, #000, 500, 1.5);
        @include r(1023) {
            white-space: pre-wrap;
            margin-top: 40px;
            font-size: 17px;
        }
    }

    .heading-h4, h4 {
        white-space: nowrap;
        margin-top: 70px;
        @include font(16px, #000, 500, 1.5);
        @include r(1023) {
            white-space: pre-wrap;
            margin-top: 40px;
        }
    }
}

.article-products {
    margin-top: 70px;
    &-wrapper {
        display: flex;
        margin-left: 5px;
    }
    &-slider {
        margin-top: -40px;
        // @include r(1240) {
        //     width: 1024px;
        //     margin-left: auto;
        //     margin-right: auto;
        // }
        @include r(1024) {
            margin-top: 0;
        }
        .slick-list {
            margin-left: -1px;
            padding-right: 2px;
            // @include r(1240) {
            //     margin-left: 0px;
            //     padding-left: 2px;
            //     margin-right: 2px;
            // }
            @include r(479) {
                width: 260px;
                padding-left: 2px;
                padding-right: 3px;
                margin: 0 auto;
                .slider__item {
                    margin: 0 10px;
                }
            }
        }
    }
    // .slider__item {
    //     max-width: 256px;
    // }
}
