@import "variables";
.product {
    &--single{
        .page-wrapper {
            margin-top: -275px;
            @include r(480) {
                margin-top: -195px;
            }
        }
        .slider-wrapper {
            width: 100%;
        }
    }
    &-card{
        display: flex;
        background: #fff;
        padding-top: 50px;
        padding-left: 50px;
        @include r(1599) {
            padding-right: 50px;
        }
        @include r(1023) {
            flex-wrap: wrap;
        }
        @include r(768) { 
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            margin-left: 20px;
            margin-right: 20px;

        }
        &-header {
          @include r(600) {
            text-align: center;
          }
        }

        &-left {
            width: 100%;
            max-width: 420px;
            margin-right: 45px;
            @include r(1023) {
                width: 100%;
                max-width: 100%;
            }
            @include r(1023) {
                padding-top: 40px;
                .product-gallery-nav {
                    display: none;
                }
            }

        }
        &-right {
            width: calc(100% - 465px);
            @include r(1023) {
                width: 100%;
                max-width: 100%;
            }
        }

        &-info {
            display: flex;
            align-items: center;
            margin-bottom: 45px;
            @include r(600) {
                margin-bottom: 40px;
            }
        }
        &-lbl {
            display: inline-block;
            padding: 8px 21px;
            border: 1px solid #439336;
            border-radius: 30px;
            @include font(16px, #8b8b8b, normal, 19px);
            text-transform: uppercase;
            margin-right: 20px;
        }
        &-vendor {
            @include font(20px, $orange, normal, 23px);
            text-transform: uppercase;
            -webkit-text-fill-color: transparent;
            background: $orange-180;
            -webkit-background-clip: text;
            @include r(600) {
                font-size: 17px;
                line-height: 20px;
                margin: 0 auto;
            }
        }
        @at-root .ie .product-card-vendor {
            @include text-bg-off($orange);
        }

        &-footer {
            display: flex;
            align-items: center;
            width: 100%;
            padding-top: 50px;
            padding-bottom: 15px;
            border-top: 1px solid #c4c4c4;
            border-bottom: 1px solid #c4c4c4;
            margin-bottom: 40px;
            @include r(1599) {
                flex-wrap: wrap;
            }
            @include r(600) {
                padding-top: 60px;
                margin-bottom: 70px;
            }
            .order__item-quantity {
                @include r(1023) {
                    margin-bottom: 0;
                    margin-left: 0;
                }
                @include r(768) {
                  margin-left: auto;
                  margin-right: auto;
                }
                @include r(480) {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
        }
        .total-wrapper {
            position: relative;
            @include font(42px, $orange, normal, 49px);
            @include r(480) {
                width: auto;
            }
            @include r(768) {
              margin-left: auto;
              margin-right: auto;
            }
            .title {
                width: 150px;
                position: absolute;
                top: -30px;
                @include font(12px, #000, normal, 14px);
                // -webkit-text-fill-color: #000;
                // @include text-bg-off(#000000)
               // -webkit-text-fill-color: #000;
            }
            .old-price {
                position: relative;
                color: #a5a5a5;
                display: inline-block;
                // margin-right: 15px;
                font-size: 16px;
                line-height: 19px;
                //-webkit-text-fill-color: #a5a5a5;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 10px;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #a5a5a5;
                    -webkit-transform: rotate(-12deg);
                    -ms-transform: rotate(-12deg);
                    transform: rotate(-12deg);

                }
            }
            
        }

        &-tabs {
            @include r(600) {
                margin-left: -21px;
                margin-right: -21px;
            }

            .tabs-list {
                margin-bottom: -1px;
                width: 100%;
                @include r(600) {
                    padding-left: 0;
                }
            }

            .tabs__link {
                @include font(16px, #000, 300, 19px);
                background: #fff;
                padding: 26px 37px;
                box-shadow: none;
                border: 1px solid #fff;
                border-bottom: 1px solid #e5e5e5;
                @include r(768) {
                    padding: 26px 23px;
                }
                &.active {
                    padding: 26px 55px;
                    border: 1px solid #e5e5e5;
                    border-bottom: 1px solid #fff;
                    @include font(18px, #377483, normal, false);
                    @include r(768) {
                        padding: 26px 23px;
                    }
                }
            }

            .tabs__item {
                &:first-child {
                    .tabs__link {
                        padding-left: 0;
                        @include r(768) {
                            padding-left: 23px;
                            padding-right: 23px;
                        }
                        &.active {
                            padding-left: 55px;
                            @include r(768) {
                                padding-left: 23px;
                            }
                        }
                    }
                }
            }

            .tabs-block {
                border: 1px solid #e5e5e5;
            }

            .content {
                padding: 40px;
                color: #282828;
                font-size: 18px;
                line-height: 1.7;
            }

            .features {
                &-block {
                    display: flex;
                    flex-wrap: wrap;
                }
                &__item {
                    display: flex;
                    align-items: center;
                    width: 50%;
                    @include r(600) {
                        width: 100%;
                    }
                    .title {
                        width: 120px;
                        @include font(12px, #9A9A9A, bold,14px);
                    }
                    .feature {
                        font-size: 20px;
                    }
                }
            }
            .columns-box {
                display: flex;
                @include r(1600) {
                    flex-wrap: wrap;
                }
                ul {
                    margin-top: 0;
                    &:first-child {
                        width: 60%;
                        margin-right: 50px;
                        @include r(1600) {
                            width: 100%;
                            margin-right: 0;
                        }
                    }
                }
            }
            .strong {
                @include font(20px, #353535, 500, 23px);
                margin-bottom: 15px;
            }
        }

        .heading-h1, h1 {
            @include font(40px, #000, 300, 47px);
            @include r(600) {
                font-size: 22px;
                line-height: 26px;
            }
        }
        .selects-wrapper {
            width: 100%;
            max-width: 800px;
        }
        .comments-block {
            @include r(600) {
                margin-top: 50px;
            }
            &-title {
                @include font(18px, #000, 300, 21px);
                &:before {
                    content: '\e90d';
                    display: inline-block;
                    margin-right: 12px;
                    font-family: 'icomoon';
                    font-size: 18px;
                    font-weight: 600;
                    color: $orange;
                    @include text-bg($orange-180);

                }
                &.active {
                    &:before {
                        content: '\e900';
                    }
                }
            }
            &-body {
                position: relative;
                display: none;
                padding-top: 20px;

                .btn-save-msg {
                    position: absolute;
                    bottom: 1px;
                    right: 1px;
                    width: 48px;
                    height: 48px;
                    background: #f6f6f6;
                    cursor: pointer;
                    .icon-send {
                        margin-left: 8px;
                        color: $orange;
                        @include text-bg($orange-180);
                        line-height: 48px;
                    }
                }
            }
            &--edit {
                //display: flex;
                display: none;
                align-items: center;
                .text {
                    width: 100%;
                    max-width: 720px;
                    @include font(22px, #377483, 300, 26px);
                    background: #fff;
                    border: none;
                    &:disabled {
                        background: #fff;
                        resize: none;
                    }
                }
                .btn-edit-msg {
                    width: 48px;
                    height: 48px;
                    background: #fff;
                    margin-right: 40px;
                    cursor: pointer;
                    .icon-pencil {
                        color: $orange;
                        @include text-bg($orange-180);
                        font-size: 29px;
                        line-height: 48px;
                    }
                }
                &.active {
                    display: flex;
                }
            }
        }
    }
    &-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .btn {
            width: 100%;
            max-width: calc(50% - 15px);
            flex-grow: 1;
            padding: 23px 0 20px;
        }
        @include r(1599) {
            margin-top: 15px;
        }
        @include r(1199) {
            flex-wrap: wrap;
            margin-top: 15px;
            .btn {
                margin: 15px 0;
                width: 100%;
                max-width: 100%;
            }
        }
        @include r(1023) {
            flex-wrap: nowrap;
            .btn {
              width: 100%;
              max-width: calc(50% - 15px);
            }
        }
        @include r(768) {
            flex-wrap: wrap;
            .btn {
                width: 60%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        @include r(600) {
            margin-top: 0;
            margin-bottom: 15px;
            .btn {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    &-gallery,
    &-gallery-fs {
        &-wrapper {
            &:first-child {
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 1px solid rgba(#c4c4c4, 0.3);
                @include r(480) {
                    border-bottom: none;
                }
            }

            .slider-nav {
                position: relative;
                &__item {
                    position: absolute;
                    top: 240px;
                    text-align: center;
                    line-height: 64px;
                    z-index: 999;
                    color: #377483;
                    border: none;
                    cursor: pointer;
                    @include anim();
                    &--prev {
                        left: 0px;
                        transform: scale(-1);
                        @include r(480) {
                            left: -20px;
                        }
                    }
                   
                    &--next {
                        right: 0px;
                        @include r(480) {
                            right: -20px;
                        }
                    }
                    
                    &:hover {
                        background: rgba(#353535, 0.3);
                        color: #ffffff;
                    }
                    &:after {
                        content: none;
                    }
                }
            }
            
        }
        .product-img {
            display: flex;
            width: 75%;
            height: 100%;
            margin: auto;
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        &-link {
            display: block;
        }

        &-nav {
            .product-gallery__item {
                outline: 1px solid rgba(#fff, 0);
                cursor: pointer;
                height: auto;
            }
            
            .product-img {
                width: 90px;
                height: 90px;
                border: 1px solid #e3e3e3;
                img{
                    height: 100%;
                    margin: 0 auto;
                    object-fit: contain;
                }
            }
        }

    }   

    &-gallery__item {
        outline: 1px solid #fff;
        height: 420px;
    }

    &-page {
        &-slider {
            margin-top: -40px;
            .slick-list {
                margin-left: -1px;
                padding-right: 2px;
                @include r(1199) {
                    margin-left: -1px;
                }
            }
            @include r(1023) {
                margin-top: 0;
            }
            @include r(479) {
                .slick-list {
                    width: 260px;
                    padding-left: 2px;
                    padding-right: 3px;
                    margin: 0 auto;
                }
                .slider__item {
                    margin: 0 10px;
                }
            }
        }
    }
}

.section-slider {

    .slider-nav {
        position: relative;
        top: -85px;
        text-align: right;
        @include r(1023) {
            top: -25px;
        }
        @include r(600) {
            display: flex;
            justify-content: center;
            margin-left: -1px;
        }
        &__item {
            width: 50px;
            height: 50px;
            border: 1px solid #8b8b8b;
            text-align: center;
            line-height: 50px;
            color: #8b8b8b;
            cursor: pointer;
            @include r(600) {
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: left;
                padding-left: 25px;
            }
            &:after {
                content: none;
            }
            &:hover {
                position: relative;
                border: 1px solid #FF6928;
                color: #FF6928;
                z-index: 10;
            }
            &--prev {
                margin-right: -5px;
                -webkit-transform: scaleX(-1);
                -ms-transform: scaleX(-1);
                transform: scaleX(-1);
                @include r(600) {
                    margin-right: -1px;
                }
            }
            &--next {
                @include r(600) {
                    margin-right: -1px;
                }
            }
            
        }
    }
}

// .fancybox-container.np {
//     // @include r(479) {
//         .fancybox-content {
//             padding-left: 0 !important;
//             padding-right: 0 !important;
//         }
//     // }
// }
.product-gallery-fs {
    width: 100%;
    margin: 0 auto;
    @include r(600) {
        margin-top: 40px;
        .slick-list {
            margin-left: auto;
            margin-right: auto;
        }
    }
    @include r(479) {
        width: 100%;
        .slick-list {
            width: 220px;
        }
    }
}

.full-gallery {
    @include r(479) {
        padding-left: 0;
        padding-right: 0;
        .slider-nav__item--next {
            right: 0;
        }
        .slider-nav__item--prev {
            left: 0;
        }
    }
}
.product-gallery-fs-nav {
    width: 540px;
    margin: 0 auto;
    @include r(768) {
        display: none;
    }
}