@import "variables";
.sub-catalogue-page {
    .fancybox-slide {
        text-align: left;
        padding: 0;
    }
    @include r(360) {
        .fancybox-content {
            padding: 40px 10px;
        }
    }
}
.sub-catalogue-wrapper {
    display: flex;
    padding-top: 50px;
    margin-bottom: 140px;
    @include r(1023) {
        margin-bottom: 70px;
    }
    .left-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include r(600) {
          justify-content: center;
            flex-wrap: wrap;
        }
    }
    .btn-orange {
        width: 300px;
        @include rmin(1200) {
            display: none;
        }
        @include r(600) {
            width: 100%;
            margin: 0 30px;
        }
    }
}

.selects-block {
    display: flex;
    align-items: center;
    width: 100%;
    @include r(1600) {
      margin-top: 20px;
    }
    @include r(1199) {
        justify-content: center;
    }
    @include r(800) {
        flex-wrap: wrap;
        margin-left: 0;
        // margin-right: 30px;
    }
    .form__item {
        margin-right: 30px;
        margin-left: 30px;
        @include r(600) {
            width: 100%;
            margin-bottom: 30px;
            margin-right: 0;
        }
    }
    .select2-container {
        @include r(600) {
            width: 100% !important;
        }
    }
}

.text-shown {
    @include font(22px, #6f6f6f, 300, 26px);
    @include r(1600) {
      margin-left: 15px;
    }
    @include r(600) {
        margin-bottom: 15px;
    }
}

// .products-list-wrapper {

// }