.section-thank {
    margin-top: 0;
    text-align: center;
    .btn {
        margin-top: 60px;
        width: 200px;
        text-transform: unset;
    }
}
.thank {
    &-img {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
    }

    &-title {
        margin-top: 55px;
        @include font(64px, #353535, 200, 1.5);
        @include r(768) {
            font-size: 40px;
        }
    }

    &-text {
        @include font(22px, #7c7c7c, normal, 1.5);
        p {
            margin: 0;
        }
    }
    &-page {
        .discount__item {
            margin-bottom: 140px;
            @include r(1024) {
                margin-bottom: 70px;
            }
        }
    }
}

.section-success {
    margin-top: 0;
    text-align: center;
    .btn {
        margin-top: 60px;
        width: 200px;
        text-transform: unset;
    }
    .thank-img {
        width: 153px;

    }
    .thank-title {
        margin-top: 25px;
    }
}

.section-error {
    margin-top: 50px;
    margin-bottom: 320px;
    text-align: center;
    @include r(1023) {
        margin-bottom: 70px;
    }
    .content {
        display: flex;
        text-align: left;
        @include r(768) {
            flex-wrap: wrap;
            text-align: center;
        }
        .text {
            @include font(140px, $orange, 200, 1);
            @include text-bg($orange-180);
            margin-right: 50px;
            @include r(768) {
                width: 100%;
                margin: 0 auto;
            }
        }
        .title {
            @include font(52px, #161515, 300, 1.5);
            @include r(768) {
                width: 100%;
            }
            @include r(600) {
                font-size: 30px;
            }
        }
    }
    a {
        position: relative;
        display: inline-block;
        margin-top: 50px;
        text-align: center;
        @include font(18px, $orange, normal, 21px);
        @include text-bg($orange-180);
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: $orange;
            @include r(480) {
                content: none;
            }
        }
        @at-root .ie .section-error a,
                .ie .section-error .text {
            @include text-bg-off($orange);
        }
    }
}

.section-content {
    margin-top: 40px;
    h2, .heading-h2 {
        @include font(34px,#377483, 300, 40px);
        margin-bottom: 35px;
    }
    .row {
        margin-bottom: 70px;
    }
    ul {
        padding-right: 100px;
        @include r(1023) {
            padding-right: 0;
            margin-bottom: 30px;
        }
    }
}