/*Variables*/

/*COLORS*/
$white: #ffffff;
$grey: #939393;
$lightgrey: #d7d7d7;
$secondaryGrey: #c4c4c4;
$darkerGrey: #8b8b8b;
$dark: #313131;
$blue: #377483;
$darkBlue: #183A42;
$orange: #FF6928;


/*BACKGROUNDS*/
$primaryOrange: linear-gradient(#FA9436 0%, #D74000 100%);
$orange-180: linear-gradient(180deg, #FA9436 -15.83%, #D74000 155%);
$orange-280: linear-gradient(280deg, #FA9436 4.32%, #EB6024 117.71%);
$orange-280-hover: linear-gradient(289.57deg, #E8760E 4.32%, #E21010 117.71%);
$orange-340: linear-gradient(338.79deg, #FA9436 4.32%, #EB6024 117.71%);
$blueGradient: linear-gradient(236.2deg, #3A8A93 0.17%, #184B61 138.51%);

/*ANIMATIONS*/
// @mixin anim {
//   transition: all .3s ease;
// }

// @mixin anim-linear {
//   transition: all .3s linear;
// }
@mixin anim {
  transition: all .3s ease;
}
@mixin text-bg($bg-color) {
  background:$bg-color;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@mixin text-bg-off($color) {
  color: $color;
  background: transparent !important;
  -webkit-text-fill-color: none !important;
  -webkit-background-clip: none !important;
}

@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content; } }

@mixin rmin($width) {
  @media only screen and (min-width: $width+ "px") {
    @content; } }

@mixin font($size: false, $colour: false, $weight: false,  $lh: false) {
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}