@import "variables";
.about-page {
    @include font(16px, #494949, 300, 24px);
    h2,.heading-h2 {
        @include font(34px, #377483, 300, 40px);
        margin-bottom: 25px;
    }
    h3,.heading-h3 {
        @include font(19px, #000, 500, 1.5);
        margin-top: 70px;
        margin-bottom: 0;
    }
    .section-entry {
        margin-top: 70px;
        margin-bottom: 70px;
        @include r(1199) {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    .section-facts {
        margin-top: 70px;
    }

    ol {
        color: #494949;
        margin-bottom: 70px;
    }
}
.facts {
    display: flex;
    justify-content: flex-start;
    counter-reset: facts-counter;
    .slick-list {
        padding-bottom: 10px;
    }
    &__item {
        position: relative;
        margin-left: 55px;
        padding-top: 40px;
        padding-left: 30px;
        padding-bottom: 30px;
        @include r(479) {
            margin-left: 35px;
            margin-right: 15px;
        }
        .text {
            width: 100%;
            max-width: 300px;
            min-height: 120px;
            // overflow: auto;
            @include font(16px, #494949, 300, 24px);
        }
        .counter {
            position: absolute;
            left: -25px;
            bottom: -15px;
            background: #fff;
            @include font(80px, $orange, 200, 1);
            @include text-bg($orange-180);
            &:before {
                counter-increment: facts-counter;
                content: counter(facts-counter) "";
            }
        }
        @at-root .ie .facts__item .counter {
            @include text-bg-off($orange);
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 180px;
            height: 105px;
            border-top: 2px solid #439336;
            border-left: 2px solid #439336;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50px;
            width: 195px;
            border-bottom: 2px solid #439336;
        }
    }
}

.accordion-list {
    &__item {
        display: block;
        margin-bottom: 10px;
        .title {
            width: 100%;
            padding: 20px 40px;
            background: #fff;
            border: 1px solid #efefef;
            @include font(24px, #656565, 300, 28px);
            @include anim();
            cursor: pointer;
            @include r(768) {
                font-size: 18px;
                line-height: 22px;
            }
            &:hover {
                border-color: #3A8A93;
                color: #377483;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
            }
        }
        .content {
            display: none;
            width: 100%;
            border: 1px solid #efefef;
            border-top: none;
            padding: 20px;
        }
        &.active {
            .content {
                display: block;
            }
        }
    }
}

